@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: $black;

  &.black {
    color: $white;
  }
  .name {
    word-break: break-all;
    margin-right: 15px;
  }
  .totalPrice {
    margin: 0 0 0 auto;
    flex-shrink: 0;
  }
}

@include sm {
  .item {
    flex-direction: column;

    .totalPrice {
      margin: 10px 0 0 0;
    }
  }
}
