@import '../../assets/styles/colors';
@import '../../assets/styles/fontMixins';
@import '../../assets/styles/forms';

.container {
  position: relative;
  width: 100%;
  background-color: $content-background;
  background-size: cover;
  overflow: hidden;
  z-index: 0;
  display: flex;
  justify-content: center;

  i {
    position: absolute;
    z-index: 3;
    opacity: .7;
  }
}

.square {
  bottom: 200px;
  left: 480px;

  @media only screen and (max-width: 1280px) {
    left: 30%;
    bottom: 10%;
  }
}

.poly {
  top: 300px;
  right: 110px;

  @media only screen and (max-width: 1280px) {
    top: 10%;
    right: 10%;
  }
}

.angle-circle {
  bottom: -321px;
  right: -107px;
}
