@import '../../assets/styles/colors.scss';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & > div[id='lemin-cropped-captcha'] {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & > div {
      width: 100% !important;
      max-width: none !important;
      color: $white !important;
    }

    & > div[id='lemin-captcha-caption'] {
      margin: 0;
      justify-content: center;
    }

    & > div[class='lemin-captcha'] {
      height: fit-content !important;

      & > div[class='captcha-header'] {
        background-color: $white !important;
        max-height: none !important;
      }
    }
  }
}
