{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "react-app",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "react",
    "jsx-a11y",
    "flowtype",
    "import"
  ],
  "settings": {
    "react": { "version": "latest" }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "printWidth": 80,
        "singleQuote": true
      }
    ],
    "react/jsx-curly-brace-presence": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/display-name": "error",
    "react/no-array-index-key": "error",
    "no-unused-vars": "error",
    "prefer-const": "error",
    "no-underscore-dangle": 0,
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "no-console": "warn"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "root": true
}
