@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/fontMixins.scss';
@import '../../../../assets/styles/mediaQueriesMixings.scss';

.badgeContainer {
  margin-top: -10px;
  max-width: 335px;

  .user {
    color: $silver-chalice;
    word-break: break-all;
  }
}

.buttonContainer {
  margin-top: 20px;
}

.text {
  margin-top: 10px;
  margin-bottom: 0;
}
