@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.container {
  background: $footer-background;
  color: white;
  text-align: center;
  padding: 9% 0 0% 0;

  .title {
    color: white;
    font-size: 4rem;
    margin: 0 5%;
  }

  .coloredText {
    color: $violet;
  }

  .subtitle {
    @include sf-pro-display-thin;
    font-size: 20px;
    line-height: 24px;
    margin: 1% 10%;
  }

  .form {
    margin: 3% 5% 0%;
  }

  .bottom {
    height: 110px;
  }

  @include md {
    .title {
      font-size: 3rem;
    }

    .subtitle {
      font-size: 16px;
    }

    .bottom {
      height: 70px;
    }
  }

  @include sm {
    .title, .subtitle {
      text-align: left;
    }

    .title {
      font-size: 34px;
      line-height: 41px;
    }

    .newLine {
      display: block;
    }

    .subtitle {
      margin: 4% 5%;
      font-size: 16px;
      line-height: 26px;
    }

    .form {
      margin-top: 7%;
    }

    .bottom {
      height: 30px;
    }
  }
}
