@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.container {
  background: $footer-background;
  color: white;
  text-align: center;
  padding: 9% 25px 0;

  .title {
    color: white;
    font-size: 4rem;
  }

  .coloredText {
    color: $violet;
  }

  .subtitle {
    @include sf-pro-display-thin;
    font-size: 20px;
    line-height: 24px;
    margin: 1% 0;
  }

  .actionInfo {
    margin: 35px 0 0;
    @include sf-pro-display-thin;
    font-size: 16px;
    font-style: italic;
    color: $manatee;
    letter-spacing: 0.075em;
  }

  .signInCallToAction {
    @include sf-pro-display-regular;
    font-size: 14px;
    padding: 20px 40px;
    background-color: $badge-background;
    border-radius: 10px;
    max-width: 75%;
    letter-spacing: 0.075em;

    button {
      font-size: 12px;
      letter-spacing: 0.05em;
    }
  }

  .form {
    margin: 3% 0 0;
  }

  .bottom {
    height: 110px;
  }

  @include md {
    .title {
      font-size: 3rem;
    }

    .subtitle {
      font-size: 16px;
    }

    .actionInfo {
      font-size: 14px;
    }

    .signInCallToAction {
      font-size: 12px;
      max-width: 100%;
    }

    .bottom {
      height: 70px;
    }
  }

  @include sm {
    .title, .subtitle {
      text-align: left;
    }

    .title {
      font-size: 34px;
      line-height: 41px;
    }

    .newLine {
      display: block;
    }

    .subtitle {
      margin: 4% 0;
      font-size: 16px;
      line-height: 26px;
    }

    .actionInfo {
      font-size: 14px;
    }

    .form {
      margin-top: 7%;
    }

    .bottom {
      height: 30px;
    }

    .signInCallToAction {
      font-size: 12px;
      max-width: 100%;
    }
  }
}

.refContainer {
  min-height: 75vh;
}
