@import './colors.scss';

:export {
  white: $white;
  black: $black;
  curious-blue: $curious-blue;
  picton-blue: $picton-blue;
  mercury: $mercury;
  elephant: $elephant;
  dove-gray: $dove-gray;
  alabaster: $alabaster;
  cerulean: $cerulean;
  gallery: $gallery;

  dark-jungle-green: $dark-jungle-green;
  desert-storm: $desert-storm;
  lack-meduim: $black-meduim;
  milk: $milk;
  light: $light;
  blue: $blue;
  bright-turquoise: $bright-turquoise;
  blue-dark: $blue-dark;
  cyan: $cyan;
  violet: $violet;
  bright-violet: $bright-violet;
  content-background: $content-background;
  deep-blue: $deep-blue;
  warn-red: $warn-red;
  simple-red: $simple-red;
  red: $red;
  simple-orange: $simple-orange;
  green: $green;
  irish-green: $irish-green;
  green-main: $green-main;
  dark-gray: $dark-gray;
  gray-main: $gray-main;
  cod-gray: $cod-gray;
  light-gray: $light-gray;
  mine-shaft: $mine-shaft;
  main-background: $main-background;
  card-background: $card-background;
  footer-background: $footer-background;
}
