$white:                     #ffffff;
$black:                     #000000;
$curious-blue:              #20A5CE;
$picton-blue:               #46CCE1;
$mercury:                   #E8E8E8;
$elephant:                  #0F3249;
$dove-gray:                 #666666;
$alabaster:                 #F7F7F7;
$cerulean:                  #00A7CF;
$gallery:                   #EAEAEA;

$desert-storm: #F8F7F7;
$dark-jungle-green: #202020;
$black-medium: #040A1E;
$tuna: #333745;
$midnight: #042237;
$dark-blue-grey: #283D4F;
$bianca: #FAFBFB;
$milk: #EEEEEE;
$light: #E2E2E2;
$hint: #F5F2F2;
$aqua-haze: #F3F3F3;
$white-smoke: #F5F5F5;
$blue: #3EB3E3;
$bright-turquoise: #00C1FF;
$cyan:#084169;
$cobalt: #293C92;
$violet: #4588FF;
$fun-blue: #1A5D95;
$clear-blue: #2070ff;
$royal-blue: #2D63D5;
$cyan-blue: #0F6FB8;
$sky-blue: #07AEFF;
$jordy-blue: #97AAFF;
$fog: #DFD6FF;
$medium-purple: #937CE0;
$bright-violet: #9F3EE3;
$light-indigo: #765CD6;
$purple-pink: #DF3CEE;
$iris: #6B53C1;
$carousel-pink: #FBEBFB;
$dark-slate-blue: #4B398D;
$honey-flower: #4C186E;
$badge-background: #062745;
$warn-red: #D40000;
$simple-red: #E33E3E;
$crimson: #FF0787;
$red: #EB0000;
$simple-orange: #FF7500;
$bright-orange: #FF5E00;
$blaze-orange: #FF6D07;
$web-orange: #F2A900;
$saffron: #F3BA2F;
$supernova: #FFCE00;
$twine: #C99D66;
$rio-grande: #CFC606;
$green: #74F87F;
$tradewind: #50AF95;
$green-main: #00AB59;
$irish-green:#03B12D;
$green-teal: #0FB871;
$green-cyan: #00C366;
$green-tea: #C2F5BB;
$humming-bird: #D3FAEA;
$fountain-blue: #55bdb8;
$blue-green: #059BA6;
$dark-gray: #282828;
$dark: #202934;
$shark: #1C1C1E;
$gray-main: #484848;
$cod-gray: #1C1C1C;
$black-cow: #474747;
$onyx: #0F0F0F;
$light-gray: #ECECEC;
$mine-shaft: #353535;
$baltic-sea: #2B2B2E;
$manatee: #90949C;
$silver-chalice: #AFAFAF;
$silver: #C9C9C9;
$gallery: #EDEDED;
$iron: #D7D7D7;
$mountain-mist: #979797;
$tundora: #444444;
$main-background: $shark;
$content-background: $shark;
