$white:                     #ffffff;
$black:                     #000000;
$curious-blue:              #20A5CE;
$picton-blue:               #46CCE1;
$mercury:                   #E8E8E8;
$elephant:                  #0F3249;
$dove-gray:                 #666666;
$alabaster:                 #F7F7F7;
$cerulean:                  #00A7CF;
$gallery:                   #EAEAEA;

$milk: #EEEEEE;
$blue: #3EB3E3;
$blue-dark: #669EFF;
$violet: #4588FF;
$content-background: #001A30;
$deep-blue: #001424;
$warn-red: #D40000;
$green: #74F87F;
$main-background: linear-gradient(172.92deg, #181642 0%, #000000 100%);
$footer-background: linear-gradient(53.02deg, #040A1E 0%, #040A1E 34.02%, #083F67 90.64%, #084169 100%);
