$white:                     #ffffff;
$black:                     #000000;
$curious-blue:              #20A5CE;
$picton-blue:               #46CCE1;
$mercury:                   #E8E8E8;
$elephant:                  #0F3249;
$dove-gray:                 #666666;
$alabaster:                 #F7F7F7;
$cerulean:                  #00A7CF;
$gallery:                   #EAEAEA;

$desert-storm: #F8F7F7;
$dark-jungle-green: #202020;
$black-meduim: #040A1E;
$milk: #EEEEEE;
$light: #E2E2E2;
$hint: #F5F2F2;
$aqua-haze: #F3F3F3;
$blue: #3EB3E3;
$bright-turquoise: #00C1FF;
$blue-dark: #669EFF;
$cyan:#084169;
$violet: #4588FF;
$clear-blue: #2070ff;
$cyan-blue: #0F6FB8;
$bright-violet: #9F3EE3;
$content-background: #001A30;
$deep-blue: #001424;
$badge-background: #062745;
$warn-red: #D40000;
$simple-red: #E33E3E;
$red: #EB0000;
$simple-orange: #FF7500;
$green: #74F87F;
$green-main: #00AB59;
$irish-green:#03B12D;
$green-teal: #0FB871;
$green-cyan: #00C366;
$fountain-blue: #55bdb8;
$dark-gray: #282828;
$dark: #202934;
$gray-main: #484848;
$cod-gray: #1C1C1C;
$onyx: #0F0F0F;
$light-gray: #ECECEC;
$mine-shaft: #353535;
$manatee: #90949C;
$iron: #D7D7D7;
$main-background: linear-gradient(172.92deg, #181642 0%, #000000 100%);
$card-background: linear-gradient(137.69deg, #181642 0%, #000000 100%);
$footer-background: linear-gradient(53.02deg, #040A1E 0%, #040A1E 34.02%, #083F67 90.64%, #084169 100%);
