@mixin code-pro {
  font-family: 'CodeProLC';
}

@mixin gotha-pro-med {
  font-family: 'GothaProMed';
}

@mixin myriad-pro-regular {
  font-family: 'MyriadProRegular';
}

@mixin helvetica {
  font-family: 'Helvetica';
}


@mixin helvetica-bold {
  font-family: 'Helvetica Bold';
}

@mixin helvetica-neue {
  font-family: 'HelveticaNeue';
}

@mixin helvetica-neue-light {
  font-family: 'HelveticaNeue Light';
}

@mixin helvetica-neue-medium {
  font-family: 'HelveticaNeue Medium';
}

@mixin helvetica-neue-bold {
  font-family: 'HelveticaNeue Bold';
}

@mixin proxima-nova-regular {
  font-family: 'Proxima Nova Regular';
}

@mixin proxima-nova-bold {
  font-family: 'Proxima Nova Bold';
}

@mixin proxima-nova-semibold {
  font-family: 'Proxima Nova Semibold';
}

@mixin proxima-nova-thin {
  font-family: 'Proxima Nova Thin';
}

@mixin proxima-nova-regular-it {
  font-family: 'Proxima Nova Regular Italic';
}

@mixin proxima-nova-thin-it {
  font-family: 'Proxima Nova Thin Italic';
}

@mixin sf-pro-display-regular {
  font-family: 'SF Pro Display Regular';
  letter-spacing: 0.05em;
}

@mixin sf-pro-display-thin {
  font-family: 'SF Pro Display Thin';
  letter-spacing: 0.05em;
}

@mixin sf-pro-display-bold {
  font-family: 'SF Pro Display Bold';
  letter-spacing: 0.05em;
}

@mixin sf-pro-display-medium {
  font-family: 'SF Pro Display Medium';
  letter-spacing: 0.05em;
}
