@import './fonts';
@import './forms';
@import './icons';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}


body {
  :global {
    div.container {
      width: 100%;
      min-height: 100%;
      overflow: hidden;
    }
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}