@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';

.container {
  .name {
    font-size: 1em;
    margin-top: 20px;
    @include proxima-nova-semibold;
  }

  .label {
    font-size: 0.875em;
    margin-bottom: 20px;
    @include proxima-nova-semibold;
  }
  .form {
    color: $black;

    .label {
      margin-bottom: -15px;
      align-self: flex-start;
    }

    .button {
      width: 100%;
      max-width: 335px;
      margin-top: 30px;
      margin-bottom: 0;
      border-radius: 12px;
    }
  }  
}
