@import '../../../assets/styles/fontMixins.scss';

.container {
  position: relative;
  width: 100%;
  margin-bottom: 45px;

  .statusBadge {
    position: absolute;
    top: -30px;
  }

  .title {
    margin-top: 40px;
    font-size: 1.875em;
    text-align: left;
  }

  .subtitle {
    font-size: 0.875em;
    margin-top: 30px;
    @include sf-pro-display-medium;
  }
}

.statusBadgeRight {
  position: absolute;
  top: 30px;
  right: 30px;
}
