@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.loader {
  margin-top: 30px;
  padding-bottom: 60px;
}

.container {
  width: 100%;

  .badgeContainer {
    margin-bottom: -10px;
    width: 100%;

    &:hover {
      cursor: pointer;

      .badgeItem {
        .iconArrow {
          transform: translateX(4px);
        }
      }
    }

    .badgeItem {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      position: relative;

      .fioDataTypeContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 110px;
        margin-right: 30px;

        .iconContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 12px;
          height: 12px;
          .icon {
            font-size: 20px;
            color: $white;
          }
        }
        .fioTxType {
          font-size: 1em;
          margin: 0 0 0 15px;
          text-transform: capitalize;
          @include sf-pro-display-medium;
        }
      }

      .date {
        font-size: 1em;
        margin-top: 15px;
        flex-shrink: 0;
        @include sf-pro-display-medium;
      }

      .senderInfo {
        margin: 15px 0 0 0;
        max-width: 90%;
        @include sf-pro-display-medium;

        .senderAddress {
          word-break: break-word;
          @include sf-pro-display-thin;
        }
      }

      .statusContainer {
        margin: 0;
        position: absolute;
        right: 0;
      }

      .iconArrow {
        align-self: flex-end;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        transform: translateX(0);
      }
    }
  }
}

@include lg {
  .container {
    .badgeContainer {
      .badgeItem {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 200px 190px 90px 50px;

        .date {
          margin-top: 0;
          margin: 0 auto;
        }

        .senderInfo {
          margin: 0 5px;
          max-width: none;
        }

        .statusContainer {
          position: static;
          margin: 0 0 0 auto;
        }

        .iconArrow {
          align-self: center;
          cursor: pointer;
          margin-left: auto;
        }

        .fioTxType {
          display: none;
        }

        .dateTypeContainer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
        }
        .fioDataTypeContainer {
          width: auto;
          margin-right: 0;
        }
      }
    }
  }
}

@include xlg {
  .container {
    .badgeContainer {
      .badgeItem {
        grid-template-columns: 280px 250px 100px 30px;

        .senderInfo {
          margin: 0 30px;
          max-width: none;
        }
        .fioTxType {
          display: block;
        }
        .fioDataTypeContainer {
          width: 110px;
        }
      }
    }
  }
}
