@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.fieldsContainer {
  .container {
    margin-bottom: -15px;
    flex-basis: 100%;
  }
}

@include lg {
  .fieldsContainer {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;

    .container {
      &.short {
        flex-basis: 35%;

        &:nth-of-type(2) {
          flex-basis: 61%;
        }
      }
    }
  }
}
