@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.fieldsContainer {
  .infoBadge {
    width: 100%;
    margin-top: 30px;

  }
  .container {
    margin-bottom: -15px;
    flex-basis: 100%;

    .badgeContainer {
      color: $baltic-sea;
      display: flex;
      flex-direction: column;
      font-size: 1.1em;
      @include proxima-nova-regular;

      .title {
        text-transform: capitalize;
        width: 100px;
        margin-bottom: 0;
      }

      .content {
        margin-top: 15px;
        margin-bottom: 0;
      }
    }
  }
}

@include lg {
  .fieldsContainer {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    margin-top: -20px;

    .container {
      &.short {
        flex-basis: 30%;

        &:nth-of-type(2) {
          flex-basis: 60%;
        }
      }
      .badgeContainer {
        flex-direction: row;

        .content {
          margin-top: 0;
        }
      }
    }
  }
}
