@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';
@import '../../../assets/styles/fontMixins.scss';

.container {
  .title {
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: -10px;
    @include sf-pro-display-medium;
  }
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    color: $light-indigo;
    margin-top: 30px;
    padding-bottom: 60px;
  }

  .badgeContainer {
    margin-bottom: -10px;

    .badgeItem {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      .transactionTypeContainer {
        display: flex;
        flex-direction: row;
        align-items: center;

        .iconContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 12px;
          height: 12px;
          .icon {
            font-size: 20px;
            color: $white;
          }
        }
        .transactionType {
          font-size: 1em;
          margin: 0 0 0 15px;
          @include sf-pro-display-medium;
        }
      }

      .date, .amount {
        font-size: 1em;
        margin-top: 15px;
        @include sf-pro-display-medium;
      }

      .txContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 15px;

        .txId, .title {
          font-size: 1em;
          margin-top: 0;
          margin-bottom: 0;
        }

        .title {
          margin-right: 5px;
          @include sf-pro-display-medium;
        }

        .txId {
          margin-right: 20px;
          @include sf-pro-display-regular;
        }

        a, div {
          display: flex;
        }

        .actionButton {
          width: 30px;
          height: 30px;
          padding: 6px;
          background-color: $baltic-sea;
          color: $white;
          margin-right: 10px;
          border-radius: 4px;
          cursor: pointer;
        }
      }

      .amount {
        display: flex;
        .currencyCode {
          margin-left: 5px;
          @include sf-pro-display-regular;
        }
      }
    }
  }
}

.infoBadge, .loader {
  margin-top: 30px;
}

@include lg {
  .infoBadge, .loader {
    margin-top: 60px;
  }

  .container {
    .badgeContainer {
      .badgeItem {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 200px 110px 110px;

        .date, .amount, .txContainer {
          margin-top: 0;
        }

        .amount {
          margin-left: auto;
        }

        .txContainer {
          display: grid;
          grid-template-columns: 25px 50px 35px 35px;

          .txId {
            max-width: 50px;
            margin-right: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .transactionType {
          display: none;
        }

        .dateTypeContainer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
    }
  }
}

@include xlg {
  .container {
    .badgeContainer {
      .badgeItem {
        grid-template-columns: 310px 250px 100px;

        .transactionType {
          display: block;
        }

        .txContainer {
          grid-template-columns: 25px 115px 35px 35px;

          .txId {
            max-width: none;
            margin-right: 20px;
            white-space: normal;
            overflow: inherit;
            text-overflow: inherit;
          }
        }

        .amount {
          display: block;
          max-width: 100px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
