@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .ledgerShowAddress,
  .submitButton {
    align-self: start;
  }

  .ledgerShowAddress {
    margin-top: 15px;
    font-family: "Proxima Nova Bold", sans-serif;
    font-weight: bold !important;
  }

  .ledgerContainer {
    position: absolute;
    top: -28px;
  }

  .title {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    font-size: 1.875em;

    & > b {
      @include proxima-nova-bold
    }
  }

  .settingTitle {
    font-family: 'Proxima Nova Semibold', sans-serif !important;
    margin-bottom: -10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  .deleteText {
    margin-top: 15px;
  }

  .infoBadge {
    margin-top: 20px;
  }

  .infoBadgeValue {
    font-size: 0.8em;
  }

  .qrCode {
    margin-top: 30px;
    background-color: $white;
    border-radius: 8px;
    align-self: center;
    padding: 13px 13px 7px 13px;
  }
  .publicAddressContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    color: $baltic-sea;

    .title {
      font-size: 1em;
      flex-shrink: 0;
      margin-right: 30px;
      margin-top: 0;
    }
  }
  .publicKey {
    font-size: 1em;
    word-break: break-all;
    margin-top: 10px;
  }
  .actionButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .actionButtonsLeft {
    width: 100%;
  }
  .actionButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;

    .iconContainer {
      background-color: $gray-main;
      border-color: $gray-main;
      width: 50px;
      height: 50px;
      color: $white;
      border-radius: 7px;
      cursor: pointer;
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:nth-child(1) {
        margin-left: 0;
      }

      &:hover {
        background-color: $dark-gray;
        border-color: $dark-gray;
      }

      &:focus {
        outline: none !important;
        outline-offset: none !important;
        box-shadow: none;
      }

      .icon {
        font-size: 20px;
      }
    }

    &.center {
      width: 100%;
    }
  }

  .privateKeyLabel {
    font-size: 0.875em;
    margin-top: 1.5em;
    margin-bottom: -15px;
    color: $baltic-sea;
    width: 100%;

    @include sf-pro-display-medium;
  }
}

.walletTextInModal {
  color: black;
}

.deleteSecondText {
  font-family: 'Proxima Nova Bold', sans-serif;
}

@include lg {
  .container {
    padding: 0 10px 10px;

    .publicAddressContainer {
      flex-direction: row;

      .publicKey {
        margin-top: 0;
      }
    }
  }
}
