@import '../../../assets/styles/colors';
@import '../../../assets/styles/fontMixins';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;

  .text {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 0.875rem;
    @include proxima-nova-thin;
  }

  .firstLink {
    display: flex;
    div {
      margin-left: 0;
    }
  }

  h5 {
    &:nth-child(2) {
      margin-top: 30px;
    }
  }

  .actionBadges {
    display: flex;
    flex-direction: column;
    max-width: none;
    width: auto;
    margin: 20px 20px 0;
  }

  .editIcon {
    margin-left: 5px;
    margin-bottom: 2px;
    font-size: 1rem;
    width: 35px;
    cursor: pointer;
  }

  .titleContainer {
    display: flex;
    align-items: center;

    .title {
      word-break: break-all;
      margin-bottom: 0;
      line-height: 1.3em;
    }

    .titleActionButtons {
      display: flex;
      flex-direction: row;
      align-items: center;

      .privateKeyIcon {
        background-color: $gray-main;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        border-radius: 5px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
          font-size: 20px;
          color: $white;
        }

        &:hover {
          background-color: $dark;
        }
      }
    }
  }
}

.actionButton {
  background-color: $light-indigo;
  border-radius: 50px;
  text-align: left;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  @include sf-pro-display-thin;

  &.settingsButton {
    width: 39px !important;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      position: relative;
      width: 53px;
      margin: 0;
    }
  }

  span {
    font-size: 14px;
    font-weight: bold;
  }

  button {
    background: none;
    border: none;
    width: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
}

.transactionsTitle {
  margin-top: 20px;
  margin-bottom: 0;
}

@include sm {
  .hideTextOnMobile {
    display: none;
  }

  .actionButton {
    width: 40vw;
  }
}

@include md {
  .container {
    padding: 30px 20px;

    .actionBadges {
      margin: 0 20px;
      width: auto;

      > div {
        a {
          button {
            min-width: auto !important;
          }
        }
      }
    }
    .actionButton {
      width: 40vw;
    }
  }

  .hideTextOnMobile {
    display: none;
  }
}

@include lg {
  .container {
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    margin: 0 20px;
    padding: 0;

    .actionBadges {
      width: 100%;
      max-width: 365px;
      margin: 0 20px 0 10px;
    }
  }
}

@include xlg {
  .container {
    margin: 0 80px;
  }

  .actionBadges {
    margin: 0 20px 0 30px;
  }
}
