@import '../../../assets/styles/colors';
@import '../../../assets/styles/fontMixins';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .subtitle, .text {
    font-size: 0.875rem;
    @include proxima-nova-thin;
  }

  .text {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .firstLink {
    display: flex;
    div {
      margin-left: 0;
    }
  }

  h5 {
    &:nth-child(2) {
      margin-top: 30px;
    }
  }

  .actionBadges {
    display: flex;
    flex-direction: column;
    max-width: none;
    width: 100%;
    margin: 0;
  }

  .editIcon {
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: 1rem;
    cursor: pointer;
  }
}

@include md {
  .container {
    padding: 30px 20px;

    .actionBadges {
      max-width: 335px;
    }
  }
}

@include lg {
  .container {
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    margin: 0 80px;

    .actionBadges {
      max-width: 335px;
      margin-left: 30px;
    }
  }
}
