.tableContainer {
  width: auto;
  margin-top: 30px;

  th {
    text-align: center;
    vertical-align: middle;
  }

  .userItem { cursor: pointer }
}

.infoBadge {
  margin-top: -30px;
  margin-bottom: 30px;
}
