@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.container {
  color: $baltic-sea;
  text-align: center;
  padding: 100px 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.isReverseColors {
    background: $light-indigo;
    .title, .subtitle, .actionInfo {
      color: $white;
    }
    .actionTextContainer {
      color: $white;
    }
  }

  .title {
    margin: 0;
    font-size: 2.625rem;
    line-height: 3.75rem;
    color: $baltic-sea;
    @include comfortaa-bold;
  }

  .subtitle {
    margin: 15px 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: $baltic-sea;
    @include proxima-nova-semibold;
  }

  .form {
    max-width: 430px;
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    gap: 30px;

    > div {
      margin: 0;
    }

    .actionButton {
      min-width: 80px;

      button {
        height: 40px;
        margin: 0;
        white-space: nowrap;
      }
    }
  }
}

@include sm {
  .container {
    padding: 70px 32px;

    .title {
      text-align: center;
      font-size: 2rem;
      line-height: 3.125rem;
    }

    .subtitle {
      text-align: center;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }

    .actionTextContainer {
      flex-direction: column;
      align-items: center;
      max-width: 220px;
      gap: 10px;
    }

    .form {
      flex-direction: column;
      gap: 0;

      > div {
        margin-bottom: 20px;
      }
    }

    .actionButton {
      width: 100%;
    }
  }
}
