@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/fontMixins.scss';
@import '../../../../assets/styles/mediaQueriesMixings.scss';

.container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  .proxyAccount {
    font-size: 0.875em;

    span {
      @include proxima-nova-semibold;
    }
  }

  .label {
    font-size: 0.875em;
    margin-top: 20px;
    margin-bottom: 0;
    @include proxima-nova-semibold;

    .regularText {
      @include proxima-nova-regular;
    }
  }

  .dropdown {
    margin-top: 15px;
    min-width: auto;
  }

  .votingPower {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 0.6875em;

    span {
      @include proxima-nova-semibold;
    }

    .violet {
      color: $light-indigo;
    }
  }

  .proxyItem {
    margin-top: 20px;
    width: 100%;
    padding: 12px 16px;
    background-color: $white;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    .name {
      font-size: 0.875em;
      margin-bottom: 0;
      @include proxima-nova-semibold;
    }

    .closeButton {
      margin-left: auto;
      height: 20px;

      &:before,
      &:after {
        width: 20px;
        height: 1px;
        background-color: $light-indigo;
      }

      @include sm {
        align-self: auto;
        width: 19px;
        height: 12px;
        margin-right: 5px;
        margin-top: 5px;

        &:before,
        &:after {
          width: 19px;
          height: 1px;
          border-radius: 1px;
        }
      }
    }
  }

  .transactionDetails {
    margin-top: 20px;
  }
}

@include lg {
  .title {
    font-size: 26px;
  }
}
