@import '../../../assets/styles/mediaQueriesMixings.scss';
@import '../../../assets/styles/colors.scss';

.warnIcon {
  margin-left: 10px;
  color: $simple-orange;
  cursor: pointer;
  
  @include lg {
    margin-left: 5px;
  }
}
