@import '../../assets/styles/colors.scss';

.wrapper {
  width: 100%;
  max-width: 375px;
  background-color: $deep-blue;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 10px 20px;
  height: fit-content;
  margin-top: 30px;
  margin-bottom: 80px;
}
