@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.modal {
  width: 100%;
  min-width: 375px;
  background-color: $deep-blue;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 10px 20px;
  overflow: hidden;
  color: $white;

  &.danger {
    background-color: $warn-red;
  }

  &.simple {
    background-color: $milk;
    color: $black;
  }

  &.success {
    background-color: $green-teal;
  }
}

.dialog {
  margin-top: 160px;
  width: 375px;

  &.isWide {
    max-width: 650px;
    width: auto;
  }

  &.defaultColor {
    span[aria-hidden=true] {
      color: $black !important;
    }
  }
}

@include sm {
  .modal {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 100%;
    padding-bottom: 80px;
    border: none;
  }
  .dialog {
    max-height: 80vh;
    margin: 0;
    width: 100%;
    top: 100%;
    transform: translateY(-100%) !important;
    animation: slide-up 0.4s ease-in-out;
  }
}

@keyframes slide-up {
  from {
    top: 200%;
    transform: translateY(0) !important; 
  }

  to {
    top: 100%;
    transform: translateY(-100%) !important;
  }
}
