@import '../../assets/styles/colors';
@import '../../assets/styles/fontMixins';

.container {
  display: flex;
  flex-direction: column;

  .nameContainer {
    font-size: 1em;
    margin: 1.25rem 0;
    @include proxima-nova-semibold;
    .name {
      word-break: break-all;
    }
  }

  .statusContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.25rem;

    .statusBadge {
      margin-left: 15px;
    }
  }

  .label {
    font-size: 0.875em;
    margin-bottom: 0;
    @include proxima-nova-semibold;
  }

  .badge {
    margin-top: -15px;
  }

  .button {
    width: 100%;
    max-width: 335px;
    margin-top: 30px;
    margin-bottom: 0;
    border-radius: 12px;
    height: 54px;
    align-self: center;
  }
}
