@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/colors.scss';

.resultItemContainer {
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: 30px;
}

.itemTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: 40px;
}

.infoTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 26px;
  font-weight: 600;
  margin-top: 40px;
}

.link {
  cursor: pointer;
  color: $light-indigo;
}

.table {
  table-layout: auto;
  margin-top: 30px;

  th {
    width: auto;
    max-width: 250px;
    word-wrap: break-word;
    width: fit-content;
  }
}
