@import '../../assets/styles/colors';
@import '../../assets/styles/fontMixins';
@import '../../assets/styles/mediaQueriesMixings';

.container {
  .nameContainer {
    display: grid;
    grid-template-columns: 150px auto;
    font-size: 1em;
    margin-top: 20px;
    @include proxima-nova-semibold;

    @include sm {
      grid-template-columns: auto;
    }

    .name {
      word-break: break-all;
      @include proxima-nova-semibold;
      max-width: 500px;
    }
  }

  .label {
    font-size: 0.875em;
    margin-bottom: 20px;
    @include proxima-nova-semibold;
  }
  .form {
    color: $baltic-sea;

    .label {
      margin-bottom: -15px;
      align-self: flex-start;
    }
  }
}

.infoMessage {
  word-break: break-word !important; 
}
