@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';


.regInputWrapper {
  width: 100%;
  color: white;
  margin-bottom: 30px;
  overflow: hidden;

  .errorMessage {
    max-height: 0;
    font-size: 12px;
    line-height: 15px;
    margin-left: 20px;
    transition: max-height 0.3s ease-out;

    .errorIcon {
      width: 14px;
      height: 14px;
      margin-right: 10px;
      max-height: inherit;
    }

    &.error {
      max-height: 30px;
      margin-bottom: 8px;
      margin-top: 13px;
      display: flex;
      align-items: center;
    }
  }
}

.inputGroup {
  position: relative;

  .inputIcon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px !important;
    height: 20px;

    &.bw {
      color: $dark-gray;
    }
  }

  .iconPosition {
    top: 20px;
  }

  .doubleIcon {
    position: absolute;
    right: 60px;
  }

  .inputSpinnerIcon {
    top: 30%;
    cursor: default;
  }

  .regInput {
    width: 100%;
    height: 54px;
    padding: 0px 20px;
    border: 1px solid $violet;
    box-sizing: border-box;
    border-radius: 7px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.11);
    background: transparent;
    color: white !important;
    outline: none;
    font-size: 14px;

    &[data-clear='true'] {
      padding-right: 110px;
    }

    &::placeholder {
      color: inherit;
    }

    &.bw {
      background-color: $light-gray;
      border-color: transparent;
      color: $gray-main !important;
      height: 40px;
    }

    &.bw::placeholder {
      @include proxima-nova-regular-it;
    }

     &.error {
      border-color: $warn-red;
    }
  }
}

.badge {
  margin-left: 20px;
  background-color: $green-main;
  font-size: 11px;
  border-radius: 4px;
  width: fit-content;
  @include proxima-nova-regular-it;
  display: flex;
  align-items: center;
  max-height: 0;
  transition: max-height 0.1s ease-in;
  overflow: hidden;

  &.showBadge {
    max-height: 24px;
    line-height: 15px;
    margin-top: 15px;
    padding: 6px;
  }
}

.pin {
  width: 219px;
  margin: 56px auto 70px;

  &.error {
    input {
      border-color: $warn-red !important;
    }

    input:not([value=""]) {
      background-color: $warn-red !important;
    }

    input::selection {
      color: transparent;
      background: transparent;
    }
  }
}

.pinError {
  font-size: 12px;
  position: relative;
  height: 40px;
  background-color: $warn-red;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.11);
  margin-bottom: 17px;

  .icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
  }
}

@include sm {
  .badge {
    box-sizing: content-box;
    &.showBadge {
      position: absolute;
      margin: 0;
      top: 8px;
      right: 20%;
    }
  }
}
