@import '../../../../../assets/styles/colors.scss';
@import '../../../../../assets/styles/mediaQueriesMixings.scss';

.container {
  display: flex;
  flex-direction: column;

  .nftsContainer {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 335px));
    grid-gap: 30px;
    width: 100%;
    justify-content: center;

    .nftItem {
      width: 100%;
      max-width: 335px;
      padding: 15px;
      border-radius: 8px;
      background-color: $alabaster;
      cursor: pointer;

      .imageContainer {
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 305px;

        &.notImage {
          background-color: $dark-jungle-green;
        }

        .image {
          width: 100%;
          border-radius: 8px;

          &.notImage {
            width: 68px;
          }

          &.hasMultipleSignatures {
            width: 200px;
          }
        }
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .loader {
    margin-top: 30px;
  }
}

@include lg {
  .container {
    .nftsContainer {
      margin-top: 30px;

      .nftItem {
        max-width: 335px;
        width: 335px;
      }
    }
  }
}