@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/fontMixins.scss';
@import '../../../../assets/styles/mediaQueriesMixings.scss';

.container {
  display: flex;
  flex-direction: column;

  .nameContainer {
    margin-top: 20px;
  }

  .subtitle {
    margin-top: 30px;
    margin-bottom: -10px;
    font-size: 0.875em;
    @include proxima-nova-semibold;
  }
}
