@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/fontMixins.scss';
@import '../../../../assets/styles/mediaQueriesMixings.scss';

.white {
  color: $white;
}

.boldMessage {
  @include proxima-nova-bold;
}

.label {
  font-size: 0.875em;
  margin-top: 1.375rem;
  margin-bottom: -10px;
  @include proxima-nova-semibold;
}

.badges {
  display: flex;
  flex-direction: row;
  gap: 12px;
  @include proxima-nova-semibold;

  .halfWidth {
    flex: 1;
  }
}

.submitButton {
  margin-left: auto;
  margin-right: auto;
}

@include sm {
  .badges {
    flex-direction: column;
  }
}
