@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/fontMixins.scss';
@import '../../../../assets/styles/mediaQueriesMixings.scss';

.white {
  color: $white;
}

.boldMessage {
  @include proxima-nova-bold;
}

.container {
  display: flex;
  flex-direction: column;

  .label {
    font-size: 0.875em;
    margin-top: 1.375rem;
    margin-bottom: -10px;
    @include proxima-nova-semibold;
  }

  .badgeContainer {
    margin: 0;
    color: $baltic-sea;
    font-size: 1em;
    line-height: 1;
    @include proxima-nova-bold;

    .title, .item {
      margin-bottom: 0;
    }

    .title {
      white-space: nowrap;
    }
    .item {
      word-break: break-all;

      &.isIndigo {
        color: $light-indigo;
      }
    }
  }

  .badges {
    display: flex;
    flex-direction: row;
    @include proxima-nova-semibold;

    .halfWidth {
      flex: 1;
    }

    .nameBadge {
      min-width: 200px;
      .badgeItemNext {
        max-width: 350px;
        word-break: break-all;
      }
    }

    .statusBadge {
      margin-left: 20px;
      .badgeItem {
        white-space: nowrap;
      }
    }

    .badgeContainer {
      display: flex;
      flex-direction: row;
      color: $baltic-sea;
      font-size: 1em;
      line-height: 26px;
    }
    .badgeItem, .badgeItemNext {
      margin-bottom: 0
    }
    .badgeItemNext {
      margin-left: 1.25rem;
      &.breakWord {
        word-break: break-all;
      }
    }
  }
}

@include sm {
  .container {
    .badgeContainer {
      grid-template-columns: auto;

      .title {
        margin-bottom: 10px;
      }
    }

    .badges {
      flex-direction: column;
      .statusBadge {
        margin-left: 0;
      }
    }
  }
}
