.env
/client/build/
/server/tests/use-case/webhook/webhook-options.json
notification-content.json
/secure
# Package managers:
lerna-debug.log
node_modules/
npm-debug.log
package-lock.json
yarn-error.log

# Editors:
.DS_Store
.idea/
.vscode/
/server/static-files/abi_fio_token.json
/server/static-files/abi_fio_domain_nft.json
.cursorignore
