@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.container {
  width: 100%;
  max-width: 969px;
  .title {
    margin-top: 50px;
  }
  .resultsContainer {
    margin-top: 40px;
    background-color: $aqua-haze;
    padding: 34px 30px 30px;
    border-radius: 12px;
    color: $dark-jungle-green;

    .resultsTitle {
      text-align: left;
      margin-bottom: 15px;
    }
  }
}
