@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fontMixins';
@import '../../../../assets/styles/mediaQueriesMixings';

.header {
  display: block;
  text-align: start;
  font-size: 1.125em;
  @include proxima-nova-semibold;
}

.container {
  width: 100%;
  overflow: auto;
}

.dropdownContainer {
  margin-top: 20px;
  margin-bottom: 20px !important;
}

.tabsContainer {
  margin-bottom: 20px;
}

.tabsLargeTitle {
  display: none;
}

@include lg {
  .tabsLargeTitle {
    display: inline;
  }
}
