@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';


.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: $baltic-sea;
}

.subtitle {
  font-size: 0.875em;
  margin-bottom: -15px;
  @include proxima-nova-semibold;
}

.paymentTitle {
  margin-top: 1.875rem;
  margin-bottom: -10px;
  font-size: 0.9375em;
  align-self: flex-start;
  @include proxima-nova-bold;
}

.wallet {
  margin-right: 1.875rem;

  .title {
    margin-bottom: 0.2rem;
  }

  .balance {
    margin-bottom: 0;
    font-size: 0.875em;
    display: flex;
    flex-direction: row;
    @include proxima-nova-thin
  }
}
