@import '../../../../assets/styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.form {
  .title {
    color: $dark-jungle-green;
  }

  .errorBadge {
    margin-top: -20px;
    width: 100%;
  }
}
