@import '../../../../../../assets/styles/colors.scss';

.error {
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 0.875em;
  width: 100%;

  >div {
    display: flex;
    gap: 10px;
  }
}

.field {
  width: 100%;
}
