@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.form {
  width: 100%;
  max-width: 610px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;

  .at {
    margin: 0 20px;
    font-size: 18px;
  }

  .submit {
    width: 40px;
    height: 40px;
    margin-left: 15px;
  }

  .domainContainer {
    width: 100%;
    max-width: 225px;
  }

  .dropdown {
    margin-bottom: 30px;
    width: 100%;
    max-width: 225px;

    .icon {
      font-size: 13px;
      color: white;
    }
  }
  .control {
    width: 100%;
    background-color: $bright-violet;
    border-radius: 7px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 1001; //show over menu
    @include sf-pro-display-medium;
  }
  .placeholder {
    color: white;
  }
  .menu {
    border-radius: 0 0 7px 7px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.53);
    margin-top: -7px;
    padding-top: 7px;
    max-height: fit-content;
    animation-name: expand;
    animation-duration: 0.4s;
  }

  .optionItem {
    @include sf-pro-display-medium;
    margin: 0 auto;
    font-size: 13px;
    color: $black;
    text-align: left;
    padding: 9px 20px 9px 20px;

    &:after {
      content: ' ';
      position: absolute;
      width: calc(100% - 20px);
      left: 10px;
      margin: -9px auto 0;
      border-bottom: 1px solid $light;
    }

    &:last-child:after, &:first-child:after {
      border: none;
    }

    &:hover {
      color: $white;
      background-color: $dark-gray;
    }

    &:hover:after {
      border-color: $dark-gray;
    }
  }

  .optionButton {
    @include sf-pro-display-medium;
    background-color: $dark-gray;
    text-align: left;
    color: $white;
    height: 32px;
    border-radius: 7px;
    margin: 9px 10px 10px 10px;
    display: flex;
    align-items: center;
    font-size: 13px;
    border-bottom-right-radius: 7px !important; //rewrite default dropdown styles
    border-bottom-left-radius: 7px !important; //rewrite default dropdown styles
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.11);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:hover {
      color: $white;
      background-color: $violet;
    }
  }
}

@include sm {
  .form {
    flex-direction: column;
    align-items: center;

    .dropdown, .domainContainer {
      max-width: 100%;
      width: 100%;
    }

    .dropdown, .control, .submit {
      height: 54px;
    }

    .at {
      margin: -10px auto 20px;
    }

    .submit {
      width: 100%;
      margin: 0 auto 25px;
      font-size: 18px;
    }


    .optionItem {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .control, .optionItem, .optionButton {
      font-size: 15px;
    }

    .optionButton {
      height: 40px;
    }
  }
}

@keyframes expand {
  0%   { max-height: 0; }
  100% { max-height: 15em; }
}
