@import "../../assets/styles/colors";
@import "../../assets/styles/fontMixins";

.root {
  min-height: 100vh;
  height: 100%;
  background: $white;
  display: flex;
  flex-direction: column;
}
.header {
  background: $elephant;
}
.menu {
  line-height: 64px;
  background: $elephant;
}

.logout {
  float: right;
}

.sider {
  background: #ffffff;
  border-right: 2px solid #c4c4c4;
}

.content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex: 1 0 auto;
  // font-size: 2em;

  &.home {
    margin-top: -64px;
  }
}

