@import "../../assets/styles/colors";
@import "../../assets/styles/fontMixins";

.root {
  min-height: 100vh;
  height: 100%;
  background: $white;
  display: flex;
  flex-direction: column;

  .badge {
    width: 80%;
    margin: 0 auto;
  }

  .container {
    width: 100%;

    .validationErrorContainer {
      background: $footer-background;
      color: white;
      text-align: center;
      padding: 9% 25px 0;
      min-height: 75vh;
    }
  }
}
.header {
  background: $elephant;
}
.menu {
  line-height: 64px;
  background: $elephant;
}

.logout {
  float: right;
}

.sider {
  background: #ffffff;
  border-right: 2px solid #c4c4c4;
}

.content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex: 1 0 auto;
}

