@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';

.tableContainer {
  width: auto;
  margin-top: 30px;

  th {
    text-align: center;
    vertical-align: middle;
  }

  .userItem { cursor: pointer }
}

.label {
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: $dark-jungle-green;
  @include sf-pro-display-medium;
}

.button {
  line-height: 1;
}

.imageContainer {
  > div {
    padding: 0 20px;
  }
  .previewImage {
    max-width: 380px;
    max-height: 115px;
    width: 100%;
  }
}

.landingTextsContainer {
  padding: 10px;
  background-color: $gallery;
  border-radius: 7px;
  box-shadow: 0 0 8px 0 rgba($black, 0.11);
}
