@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';
@import '../../assets/styles/fontMixins.scss';

.container {
  background-color: $aqua-haze;
  padding: 1.25rem;
  margin: 1.25rem;
  position: relative;
  border-radius: 12px;
  width: 100%;
  color: $black;

  &.hasDesertStormBackground {
    background-color: $desert-storm;
  }

  .actionContainer {
    .withClose {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      .title {
        margin-top: 1rem;
        font-size: 1.375em;
        margin-bottom: 0;
        @include proxima-nova-bold;
      }
    }

    .withBack {
      .title {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-size: 1.375em;
        color: $black;
        @include proxima-nova-bold;
      }
    }

    .singleTitle {
      .title {
        font-size: 1.375em;
        @include proxima-nova-bold;
      }
    }
  }
}

@include lg {
  .container {
    max-width: 560px;
    padding: 30px;
    margin: 6.25rem auto;

    .actionContainer {
      .withClose {
        .title {
          margin-top: 0.625rem;
          font-size: 2.125em;
        }
      }
      .withBack {
        .title {
          margin-top: 1.25rem;
          font-size: 1.875em;
        }
      }
      .singleTitle {
        .title {
          font-size: 1.875em;
        }
      }
    }
    &.autoWidth {
      width: fit-content;
      max-width: none;
    }
    &.fullWidth {
      width: 100%;
      max-width: 890px;
    }
    &.middleWidth {
      width: 100%;
      max-width: 595px;
    }
    &.noVerticalMargin {
      margin: 0 auto;
    }
    &.info {
      background-color: $light-indigo;
    }
  }
}
