@import '../../../../assets/styles/mediaQueriesMixings.scss';

.container {
  margin-top: 0;

  & > div:first-child {
    margin-top: 0 !important;
  }
}

@include lg {
  .container {
    margin-top: 30px;
  }
} 
