
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/colors.scss';

.icon {
  font-size: 4em;
  color: $white;
  margin-top: 1.875rem;
}

.title {
  margin-top: 1.25rem;
  margin-bottom: 0;
  @include proxima-nova-bold;
}

.subtitle {
  margin: 0.9375rem 1.25rem 0;
  font-size: 0.9375em;
  text-align: center;
  @include proxima-nova-thin;
}