@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';
@import '../../assets/styles/fontMixins.scss';

.container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;

  .cardContainer {
    display: flex;
    flex-direction: column;
  }

  .vertical {
    width: 1px;
    height: 100%;
    background-color: #DCDCDC;
    height: auto;
    margin: 0 30px;
  }
}

@include sm {
  .container {
    flex-direction: column;
    .cardContainer {
      width: 100%;
    }
  }

  .vertical {
    visibility: hidden;
  }
}

@include md {
  .container {
    flex-direction: column;

    .cardContainer {
      width: 100%;
    }
  }
}