@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/fontMixins.scss';
@import '../../../../assets/styles/mediaQueriesMixings.scss';

.editIcon {
  color: $baltic-sea;
  cursor: pointer;
  justify-self: flex-end;
  outline: none;
  align-self: flex-start;

  &.editing {
    color: $clear-blue;
  }
}

@include lg {
  .editIcon {
    align-self: center;
  }
}