@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';

.badge {
  background-color: $blue;
  margin: 40px auto 0;
  padding: 15px 20px;
  width: 80%;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 14px;

  &.isSkipped {
    background-color: $simple-red;
  }

  .title {
    @include proxima-nova-bold;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .arrow {
    font-size: 15px;
    margin: 0 auto 0 0;
    transition: 0.2s ease-in-out;
    transform: translateX(0);

    &:hover {
      transform: translateX(4px);
    }
  }

  .closeIcon {
    width: 20px;
    height: 20px;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: rotate(90deg);
    }
  }

  .closeIcon, .arrow {
    cursor: pointer;
  }

  p {
    margin: 0 auto 0 20px;
  }
}