@import '../../assets/styles/colors.scss';

.sideWrapper {
  background-color: $milk;
  min-height: 50px;
  justify-content: center;
  align-items: center;

  &.isOnSide {
    background-color: transparent;
    flex-direction: column;
    align-items: flex-start;
  }

  .sideItem {
    font-size: 14px;

    &.isOnSide:nth-child(1) {
      a {
        margin-top: 0;
      }
    }
    
    .sideLink {
      color: $blue;
      position: relative;
      overflow: hidden;
      transition: clip-path 275ms ease;

      &:hover::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      &::before {
        position: absolute;
        content: attr(data-content);
        color: midnightblue;
        clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
        transition: clip-path 275ms ease;
      }
    }
  }
}
