@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.container {
  margin-top: 1.375rem;
  display: flex;
  flex-direction: column;
}

.details {
  margin-bottom: 1.875rem;

  .subtitle {
    font-size: 0.875em;
    margin-bottom: -15px;
    @include proxima-nova-semibold;

    &.hasTopMargin {
      margin-top: 30px;
    }
  }

  .completeTitle {
    font-size: 1.125em;
    margin-top: 1rem;
    @include proxima-nova-semibold;
  }

  .text {
    margin-top: 20px;
    margin-bottom: -15px;
    font-size: 0.875em;
    @include proxima-nova-thin;
  }
}

.item {
  display: grid;
  grid-template-columns: 115px auto;
  width: 100%;
  color: $baltic-sea;
  margin-left: 0 !important;

  .name {
    word-break: break-all;
    margin-right: 15px;
  }

  .itemValue {
    margin: 0 0 0 30px;
    flex-shrink: 0;
    word-break: break-all;

    &.withAutoMargin {
      margin: 0 1.875rem 0 auto;
    }
  }

  &.hasWhiteText {
    color: $white;
  }
}

.button {
  display: block;
  margin: 2.5rem auto 0;
  width: 100%;
  max-width: 335px;
  border-radius: 100px;
  height: 54px;
  @include sf-pro-display-medium;
}

@include sm {
  .item {
    display: flex;
    flex-direction: column;

    .itemValue {
      margin: 10px 0 0 0;

      &.withAutoMargin {
        margin: 10px 0 0 0;
      }
    }
  }
}

.accordion {
  width: 100%;

  & > div {
    margin: 0;
  }

  .accordionContent {
    background-color: $aqua-haze;
  }

  .accordionItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width: 100%;

    .accordionItemTitle {
      cursor: pointer;
      color: $light-indigo;
      font-size: 1em;
      margin-bottom: 0;
      @include proxima-nova-semibold;
    }

    .iconContainer {
      padding: 12px;
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;

      .titleIcon {
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        color: $light-indigo;

        &.isActiveIcon {
          transform: rotate(180deg)
        }
      }
    }
  }
}
