@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.container {
  margin-left: 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &.isNft {
    cursor: pointer;
  }
}

.addressContainer, .addressMobileContainer, .nftContainer {
  color: $baltic-sea;
  font-size: 15px;
  p {
    margin-bottom: 0;
  }

  &.textHasWhiteColor {
    color: $white;
  }
}

.addressContainer {
  width: 100%;
  align-items: center;
  display: flex;
  flex-flow: row wrap;

  & > p {
    margin-right: 20px;
  }

  .publicAddressItem {
    word-break: break-all;

    &.bold {
      @include proxima-nova-bold;
    }
  }
}

.nftContainer {
  display: flex;
  flex-wrap: wrap;

  .contractAddress, .tokenID {
    margin-top: 15px;
    word-break: break-word;
    flex-basis: 100%;
  }

  .subtitle {
    &:first-of-type {
      margin-right: 15px;
    }
  }
}

.actionIcon {
  color: $baltic-sea;
  margin-left: 25px;
  cursor: pointer;
}

.mobileContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  .addressMobileContainer {
    width: 100%;
    overflow: hidden;
    max-height: 20px;
    transition: max-height 0.3s ease-in-out;
    cursor: pointer;

    .visiblePart {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      .textVisiblePart {
        display: flex;
        flex-flow: row wrap;
        margin-top: -18px;

        & > p {
          word-break: break-word;
          margin-right: 15px;
          margin-top: 15px;
        }

        & > p:first-child {
          align-self: start;
        }
      }

      .icon {
        transition: 0.3s ease-in-out;
        align-self: flex-start;

        &.open {
          transform: rotate(180deg);
        }
      }
    }

    .pubAddress {
      margin-top: 15px;
      .title {
        @include sf-pro-display-thin;
      }

      .publicAddressItem {
        word-break: break-all;
      }
    }
    &.containerOpen {
      max-height: 200px;
    }
  }
  .actionButton {
    margin-top: 30px;
    margin-left: -20px;
  }
}

.subtitle, .publicAddressItem {
  @include proxima-nova-thin;
}

input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  font-size: 15px;
  @include proxima-nova-regular;
}

@include lg {
  .nftContainer {
    display: grid;
    grid-template-columns: 150px 200px auto;
    flex-wrap: nowrap;

    .contractAddress, .tokenID {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      flex-basis: auto;
      margin-top: 0;
    }
  }
}
