@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/colors.scss';

.form {
  margin-top: 1em;
  .transactionTitle {
    font-size: 0.875em;
    margin-bottom: -16px;
    color: $dark-jungle-green;
    align-self: flex-start;
    @include sf-pro-display-medium;
  }
}

.additionalSubInfo {
  width: 100%;
  font-size: 0.875em;;
  margin: 10px 20px 10px 40px;
  color: $black;

  span {
    color: $dark-jungle-green;
  }
}

.warning {
  color: $warn-red;
}

.selectedDomainName {
  margin-top: -26px;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 100%;
  color: $dark-jungle-green;

  span {
    @include sf-pro-display-medium;
  }
}
