@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/colors.scss';

.form {
  margin-top: 1em;
  .transactionTitle {
    font-size: 0.875em;
    margin-bottom: 1rem;
    color: $baltic-sea;
    align-self: flex-start;
    @include sf-pro-display-medium;
  }

  .infoBadge {
    margin: 0 0 20px 0;

    a:hover {
      color: $iron;
    }
  }
}

.additionalSubInfo {
  width: 100%;
  font-size: 0.875em;;
  margin: 10px 20px 10px 40px;
  color: $baltic-sea;

  span {
    color: $baltic-sea;
  }
}

.warning {
  color: $warn-red;
}

.selectedDomainName {
  margin-top: -26px;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 100%;
  color: $baltic-sea;

  span {
    @include sf-pro-display-medium;
  }
}

.unwrapInfoBadge {
  margin-top: 10px !important;
}
