@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.container {
  margin-top: 1.875rem;
  display: flex;
  flex-direction: column;

  .details {
    margin-bottom: 1.875rem;
    
    .delimiter {
      height: 1.875rem;
    }

    .subtitle {
      font-size: 0.875em;
      margin-bottom: -15px;
      @include proxima-nova-semibold;

      &.hasTopMargin {
        margin-top: 30px;
      }
    }

    .completeTitle {
      font-size: 1.125em;
      margin-top: 1rem;
      @include proxima-nova-semibold;

      &.second {
        margin-top: 2.8rem;
      }
    }

    .text {
      margin-top: 20px;
      margin-bottom: -15px;
      font-size: 0.875em;
      @include proxima-nova-thin;
    }

    .item {
      display: grid;
      grid-template-columns: 110px auto;
      width: 100%;
      color: $baltic-sea;

      .name {
        word-break: break-all;
        margin-right: 15px;
      }

      .itemValue {
        margin: 0 0 0 30px;
        flex-shrink: 0;
      }
    }
  }

  .button {
    display: block;
    margin: 2.5rem auto 0;
    width: 100%;
    max-width: 335px;
    border-radius: 7px;
    height: 54px;
    @include sf-pro-display-medium;
  }
}

@include sm {
  .container {
    .details{
      .item {
        display: flex;
        flex-direction: column;

        .itemValue {
          margin: 10px 0 0 0;
        }
      }
    }
  }
}
