@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

@import './commonStyles.module.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  overflow-y: auto;
}

.icon {
  width: 3rem !important;
  height: 3rem;
  margin-bottom: 20px;
}

.title {
  font-size: 1.625em;
  @include proxima-nova-regular;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 0.875em;
  text-align: center;
}
