@import '../../../assets/styles/mediaQueriesMixings.scss';

.sectionLayout {
  padding: 100px 120px;

  @include md {
    padding: 80px 50px;
  }

  @include tablet {
    padding: 50px 25px;
  }
}

.containerLayout {
  background: $shark;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 3rem;
    @include inter-bold;
  }

  &.containerDark {
    background: $onyx;
  }
}

