@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

@import './commonStyles.module.scss';

.containerLayout {
  background: $dark-jungle-green;
  &.dark {
    background: $black-medium;
  }
}

.container {
  background: none;
  text-align: center;
  padding: 0 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    color: white;
    font-size: 3rem;
    @include proxima-nova-bold;
  }

  .subtitle {
    @include proxima-nova-thin;
    font-size: 20px;
    line-height: 32px;
    max-width: 750px;
    margin: 1% auto;

    &.text {
      font-size: 18px;
      max-width: 800px;
    }
  }

  .info {
    @include proxima-nova-thin-it;
    font-size: 0.875em;
    margin: 20px 0;
  }

  .buttonContainer {
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .button {
    min-width: 150px;
    height: 54px;
    border-radius: 8px;
    padding: 17px 30px;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .outlineButton {
    color: $white;
    border-color: $white;

    &:hover {
      border-color: $light-indigo;
    }
  }

  &.isBig {
    .title {
      font-size: 3.625rem;
    }

    .subtitle {
      font-size: 32px;
      line-height: 48px;
      max-width: 860px;

      &.text {
        font-size: 24px;
        max-width: 930px;
      }
    }

    .info {
      font-size: 18px;
    }
  }
}

@include sm {
  .container {
    .subtitle {
      margin: 10px auto;
    }
  }
}

@include tablet {
  .container {
    .buttonContainer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
