@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

@import './commonStyles.module.scss';

.container {
  background: none;
  text-align: center;
  padding: 0 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    color: white;
    font-size: 3.625rem;
    @include comfortaa-bold;
  }

  .subtitle {
    @include proxima-nova-thin;
    font-size: 20px;
    line-height: 24px;
    max-width: 750px;
    margin: 1% auto;
  }

  .info {
    @include proxima-nova-thin-it;
    font-size: 0.875em;
    margin: 20px 0;
  }

  .buttonContainer {
    margin: 1% auto;
  }

  .button {
    min-width: 150px;
    height: 54px;
    border-radius: 100px;
    padding: 17px 30px;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .outlineButton {
    color: $white;
    border-color: $white;

    &:hover {
      border-color: $light-indigo;
    }
  }

  &.isBig {
    .title {
      font-size: 3rem;
    }

    .subtitle {
      font-size: 24px;
      line-height: 28px;
      max-width: 800px;
    }
  }
}

@include sm {
  .container {
    .subtitle {
      margin: 10px auto;
    }
  }
}
