@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.title {
  @include proxima-nova-bold;
}

.icon {
  font-size: 20px;
}

.arrow {
  font-size: 15px;
  margin: 0 30px;
  transition: 0.2s ease-in-out;
  transform: translateX(0);

  &:hover {
    transform: translateX(4px);
  }
}

.actionButton {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  height: 54px;
  border-radius: 7px;
  background-color: transparent;
  border-color: $white;

  &:hover {
    background-color: $violet;
    border-color: $violet;
  }
}

.closeButton {
  background-color: $black;
  border: none;
  width: 100%;
  height: 54px;
  border-radius: 7px;

  &:hover {
    opacity: 0.8;
    background-color: $black !important;
  }
}

.closeIcon {
  font-size: 16px;
  transition: 0.3s ease-in-out;
  margin-left: auto;
  &:hover {
    transform: rotate(90deg);
  }
}

.closeIcon, .arrow {
  cursor: pointer;
}

@include sm {
  .icon, .closeIcon {
    font-size: 18px;
  }

  .arrow {
    margin-left: 0;
    margin-top: 10px;
    transform: scale(1.2);
    display: block;
  }
}
