@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/mediaQueriesMixings.scss';
@import '../../../../assets/styles/fontMixins.scss';

.actionButtonsContainer {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  align-items: center;

  .actionButton {
    @include sf-pro-display-thin;
    margin-right: 0;
    white-space: nowrap;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    img, svg {
      margin-right: 10px;
    }

    &.isHidden {
      visibility: hidden;
    }

    &:hover {
      background-color: $iris;
      border-color: $iris;
    }

    & button {
      font-size: 1em;
      width: 100%;
      height: 100%;
      background-color: $light-indigo;
      border-color: $light-indigo;
      border-radius: 100px;
      display: flex;
      align-items: center;
    }

    &.mobileView {
      height: fit-content;
      margin-top: 0;
    }

    .prefixButtonText {
      margin-right: 5px;
      font-size: 1.375em;
      @include proxima-nova-regular-it;
    }
  }

  .settingsButton {
    background-color: $manatee;
    border-color: $manatee;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &:hover {
      background-color: $dove-gray;
      border-color: $dove-gray;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .actionButton, .settingsButton {
    border-radius: 100px;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    height: 45px;
    margin-top: 10px;
  }

  .atIcon {
    margin-right: 10px;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin-top: 15px;

    & > a:nth-child(2) {
      margin-right: 10px;
    }
  }
}

@include lg {
  .actionButtonsContainer {
    flex-flow: nowrap;
    justify-content: space-between;

    .actionButton {
      margin-right: 10px;
      width: fit-content;
    }

    .row {
      margin-top: 0;
    }

    .actionButton, .settingsButton {
      height: 36px;
      margin-top: 0;
    }

    .settingsButton {
      width: 36px;
    }
  }
}

@include sds {
  .actionButtonsContainer {
    .actionButton {
      min-width: 36px;
      width: 100%;

      img, svg, .prefixButtonText {
        margin-right: 0;
      }

      & > button {
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: center;
      }
    }
  }
}
