@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.button {
  font-size: 0.875em;
  border-radius: 100px;
  padding: 7px 35px;
  margin-top: 4px;
  background-color: $light-indigo !important;
  border-color: $light-indigo !important;
  min-width: 250px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  &:hover {
    background-color: $iris;
    border-color: $iris;
  }

  &.isGreen {
    background-color: $green-cyan;
    border-color: $green-cyan;

    &:hover {
      background-color: $green-teal;
      border-color: $green-teal;
    }
  }

  &.isIndigo {
    background-color: $light-indigo;
    border-color: $light-indigo;

    &:hover {
      background-color: $iris;
      border-color: $iris;
    }
  }

  &.isSmall {
    max-width: 180px;
    width: 90%;
    box-sizing: content-box;
    padding: 7px 0;

    @include sm {
      width: 100%;
      max-width: none;
    }
  }

  .title {
    margin: 0;
    flex-shrink: 0;
  }

  .loading {
    width: auto;
    & > span {
      width: 16px !important;
      height: 16px !important;
      color: inherit;
    }

  }
}

@include sm {
  .button {
    width: 100%;
  }
}
