@import '../../../assets/styles/colors.scss';

.container {
  max-width: 560px;
  width: 100%;
  padding: 0 10px;
  color: $baltic-sea;

  .title {
   font-size: 1.625em;
  }
  .subtitle {
    font-size: 0.875em;
  }

  button {
    max-width: 335px;
    border-radius: 100px;
  }

  .cancelButton {
    background: none;
    border: none;
    outline: none;
    color: $baltic-sea;
    margin: 20px auto 30px;
    display: block;
  }
}
