@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';

.title {
  margin-top: 30px;
  margin-bottom: 0;
  @include proxima-nova-bold;
}

.subtitle {
  margin-top: 18px;
  margin-bottom: 0;
  @include proxima-nova-thin;
  text-align: center;
  padding: 0 6px;
}

.cancelButton {
  margin-top: 30px;
  margin-bottom: 20px;
}
