@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.container {
  padding: 100px 154px;
  background: $light-indigo;

  .title {
    margin-bottom: 50px;
    font-size: 3rem;
    line-height: 1;
    color: $white;
    @include comfortaa-bold;
    text-align: center;
  }

  .grid {
    margin: -40px -20px 50px;
  }

  .domain {
    background: $white;
    padding: 30px;
    border-radius: 24px;
    margin: 40px 20px;

    .domainTitle {
      margin: 15px 0 30px;
      text-align: center;
      font-size: 2rem;
      line-height: 1;
      @include proxima-nova-bold;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .domainContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .domainPrice {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        line-height: 1.25rem;
        color: $baltic-sea;

        .domainPriceLabel {
          @include proxima-nova-thin;
        }

        .domainPriceValue {
          @include proxima-nova-semibold;
        }
      }
    }
  }
}

@include lg {
  .container {
    .domain {
      padding: 30px;

      .domainTitle {
        font-size: 1.625rem;
      }
    }
  }
}

@include xlg {
  .container {
    .domain {
      padding: 20px;

      .domainTitle {
        font-size: 2rem;
      }
    }
  }
}

@include md {
  .container {
    .domain {
      padding: 20px;

      .domainTitle {
        font-size: 1.625rem;
      }
    }
  }
}

@include sm {
  .container {
    padding: 70px 20px;

    .title {
      font-size: 1.875rem;
    }

    .grid {
      margin: -20px -10px 50px;
    }

    .domain {
      padding: 20px;
      margin: 20px 10px;

      .domainTitle {
        margin: 15px 0 20px;
        font-size: 1.5625rem;
      }

      .domainContainer {
        .domainPrice {
          flex-direction: row;
          gap: 5px;
        }
      }
    }
  }
}
