@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins';
@import '../../assets/styles/mediaQueriesMixings.scss';

.subtitle {
  font-size: 1.125em;
  margin-top: 12px;
  margin-bottom: 0;
  @include proxima-nova-semibold;
}

.text {
  font-size: 0.875em;
  margin-top: 10px;
  margin-bottom: 0;
  @include sf-pro-display-thin;
}

.registrationBadge {
  margin-top: 15px !important;
}

.linksList {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
}

.link {
  display: flex;
  flex: 0 calc(50% - 10px);
  align-items: center;
  height: 54px;
  border-radius: 8px;
  background: $white;
  padding: 0 30px;

  &:hover {
    background: $bianca;
  }
}

.linkChangeNOW {
  display: flex;
  background: $black-cow;
  gap: 10px;
  padding: 0;

  &:hover {
    background: $cod-gray;
  }

  > img {
    &:nth-child(2) {
      height: 18px;
    }
  }
}
