@import '../../../assets/styles/mediaQueriesMixings.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/colors.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include proxima-nova-bold;

  .title {
    font-size: 1.75em;
  }
  .subtitleContainer {
    display: flex;
    flex-direction: column;
    .subtitle {
      font-size: 1em;
      margin-top: 20px;
      margin-bottom: 0;
    }
    .searchParam {
      margin-top: 5px;
      word-break: break-all;
      font-size: 1em;
      margin-bottom: 0;
    }
    .image {
      margin-top: 20px;
      margin-bottom: 15px;
      width: 100%;
      display: block;
      border-radius: 7px;
    }
  }
  .itemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .badgeContainer {
      flex-basis: 100%;
      .contentContainer {
        color: $baltic-sea;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .contentTitle {
          font-size: 1em;
          margin-top: 0;
          margin-bottom: 0;
        }
        .contentValue {
          font-size: 1em;
          margin-top: 10px;
          margin-bottom: 0;
          margin-left: 0;
          word-break: break-all;
        }
      }
      &.isSmall {
        flex-basis: 100%;
      }
    }

  }
}

@include lg {
  .container {
    padding: 0 20px;
    .subtitleContainer {
      .image {
        margin-bottom: 20px;
        height: 132px;
        width: fit-content;
      }
    }
    .itemContainer {
      .badgeContainer {
        .contentContainer {
          flex-direction: row;
          align-items: center;
          .contentValue {
            margin-left: 30px;
            margin-top: 0;
          }
        }
        &.isSmall {
          flex-basis: 47%;
        }
      }
    }
  }
}
