@import '../../../assets/styles/mediaQueriesMixings.scss';

.form {
  padding: 0 20px;

  .submitButton {
    max-width: 235px;
    width: 100%;
    height: 40px;
    font-size: 0.8125em;
    border-radius: 7px;
    margin-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sm {
      max-width: none;
    }

    .loader {
      width: auto;
      position: absolute;
      right: 20px;

      & > span {
        width: 18px !important;
        height: 18px !important;
        color: inherit;
      }
    }
  }
}

@include lg {
  .form {
    padding: 0;
  }
}
