@import '../../../../assets/styles/mediaQueriesMixings.scss';

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;

  .buttonContainer {
    margin-top: 30px;
  }
}

@include sm {
  .listContainer {
    gap: 10px;
  }
}
