<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
      :root {
  color-scheme: light dark;
  --special-text-color: #f1f1f1;
}
@media (prefers-color-scheme: dark) {
  :root {
    --special-text-color: #f1f1f1;
  }
}

a:hover {
  opacity: 0.9;
}

.header-title {
  color: var(--special-text-color) !important;
}
@media only screen and (max-width: 650px) {

  .container {
    padding: 0 !important;
  }

  .title-heading {
    font-size: 18px !important;
    text-align: center !important;
  }

}
@media only screen and (max-width: 600px) {
  .header-title {
    font-size: 14px !important;
    line-height: 18px !important;
  }
}



    </style>

  </head>
  <body style="width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; background-color: #ffffff">
    <center style="background-color:#efefef;padding-right:0px;padding-left:0px;padding-top:20px;padding-bottom:20px;padding:20px 0;font-family:&#x27;Google Sans&#x27;, &#x27;Roboto&#x27;, sans-serif;letter-spacing:0.02em" class="container"><table style="width:100%;border-collapse:collapse;font-family:&#x27;Google Sans&#x27;, &#x27;Roboto&#x27;, sans-serif;letter-spacing:0.03em;border-spacing:0;padding:0;max-width:602px" class=""><tbody><tr><td><table style="width:100%;border-collapse:collapse;font-family:&#x27;Google Sans&#x27;, &#x27;Roboto&#x27;, sans-serif;letter-spacing:0.03em;border-spacing:0;padding:0" class=""><tbody><tr><td style="background-color:#ffffff;padding:0;margin:0"><table style="width:100%;border-collapse:collapse;font-family:&#x27;Google Sans&#x27;, &#x27;Roboto&#x27;, sans-serif;letter-spacing:0.03em;border-spacing:0;padding:0;margin:0 auto;background-color:#2B2B2E;-webkit-box-shadow:0px 6px 28px -3px rgba(0,0,0,0.76);box-shadow:0px 6px 28px -3px rgba(0,0,0,0.76);color:#f1f1f1" class="header-bg"><tbody><tr><td><img src="{{logoSrc}}" alt="logo" style="outline:none;text-decoration:none;border:none;display:block;height:36px;max-width:74px;padding-right:40px;padding-left:40px;padding-top:39px;padding-bottom:39px;padding:39px 40px"/></td><td><p style="font-size:22px;line-height:28px;font-weight:500;padding-right:40px;padding-left:40px;padding-top:39px;padding-bottom:39px;padding:39px 40px;color:#f1f1f1 !important;text-align:right;margin:0" class="header-title">{{headerTitle}}</p></td></tr></tbody></table><table style="width:100%;border-collapse:collapse;font-family:&#x27;Google Sans&#x27;, &#x27;Roboto&#x27;, sans-serif;letter-spacing:0.03em;border-spacing:0;padding:0" class=""><tbody><tr><td style="padding-right:40px;padding-left:40px;padding-top:40px;padding-bottom:40px;padding:40px"><table style="width:100%;border-collapse:collapse;font-family:&#x27;Google Sans&#x27;, &#x27;Roboto&#x27;, sans-serif;letter-spacing:0.03em;border-spacing:0;padding:0;color:#3C434B;font-size:12px;line-height:24px" class=""><tbody><tr><td>{{{html}}}</td></tr><tr><td><table style="width:100%;border-collapse:collapse;font-family:&#x27;Google Sans&#x27;, &#x27;Roboto&#x27;, sans-serif;letter-spacing:0.03em;border-spacing:0;padding:0" class=""><tbody><tr><td><p style="font-size:12px;font-weight:500;margin:22px 0 0;font-style:italic">Best wishes,</p></td></tr><tr><td><p style="font-size:13px;line-height:24px;margin:10px 0 0"><b>The FIO App Team</b></p></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table><table style="width:100%;border-collapse:collapse;font-family:&#x27;Google Sans&#x27;, &#x27;Roboto&#x27;, sans-serif;letter-spacing:0.03em;border-spacing:0;padding:0;margin:0 0 60px;color:#3C434B;background:#ffffff" class=""><tbody><tr><td style="width:100%;padding-right:40px;padding-left:40px;padding-top:0;padding-bottom:0;padding:0 40px"><p style="font-size:12px;line-height:24px;margin:0;border-top:1px solid #eaeaea;width:100%;padding-top:40px">Have questions?</p><p style="font-size:12px;line-height:24px;margin:10px 0 0;font-weight:700">You can raise a FIO Support request from the <a href="{{supportLink}}" target="_blank" style="font-size:12px;line-height:24px;margin:7px 0;color:#4588FF;text-decoration:none">FIO Help Center</a>.</p></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></center>
  </body>
</html>
