@import '../../assets/styles/fontMixins';
@import '../../assets/styles/colors';
@import '../../assets/styles/forms';


:global {
  #logo-loading {
    width: 70px;
    height: 70px;
  }
}
.arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  margin: 0;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transform: translateX(0);

  &:hover {
    transform: translateX(-4px);
  }
}

.icon {
  width: 14px;
  height: 14px;
}

.icon.checked {
  color: $green;
  opacity: 1;
}

.validationWrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;

  &:first-child {
    margin-top: 20px;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.checkedIcon {
  margin-left: 20px;
  opacity: 0.2;
}

.textWrapper {
  margin: 0 0 0 10px;
}

.badge {
  font-size: 12px;
  border-radius: 14px;
  background-color: $content-background;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  &.open {
    max-height: 142px;
    margin-bottom: 30px;
  }
  &.roll {
    max-height: 350px;
    margin-bottom: 0;
  }

  .icon {
    width: 16px !important;
    height: 16px;
  }
}

.page {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
  position: relative;

  opacity: 0;
  display: flex;
  &.active {
    opacity: 1;
    transition: opacity .7s ease-out;
  }
}

.formSuccess {
  align-self: center;
  margin-top: -40px;
}

.logoAnimation {
  margin-top: 30px;
}

.infoBadgeContainer {
  margin-top: -30px;
  margin-bottom: 30px;
}
