@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.container {
  width: 100%;
  position: relative;
}

.loader {
  background: $white;
  opacity: 87%;
  width: 100%;
  margin: auto;

  height: 46vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;

  top: 9%;

  line-height: 2.75rem;
  @include comfortaa-bold;
  color: $bright-violet;
}
@include sm {
  .loader {
    top: 8%;
    height: 450px;
  }
}

@include md {
  .loader {
    top: 8%;
  }
}

@include sds {
  .loader {
    top: 6%;
    height: 420px;
  }
}

@include lg {
  .loader {
    top: 6%;
    height: 420px;
  }
}
