@import '../../../assets/styles/colors';
@import '../../../assets/styles/fontMixins';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.header {
  display: block;
  text-align: start;
  font-size: 1.125em;
  @include proxima-nova-semibold;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.info {
  margin-top: 20px;
  display: flex;
  gap: 22px;
  color: #282727;
  @include inter-semibold;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.detailsTitle {
  color: #282727;
  font-size: 0.875em;
  margin-bottom: 0;
  @include proxima-nova-semibold;
}

.details ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 0;
  padding-left: 16px;
}

.detailsPower {
  font-size: 0.875em;
}

.producers {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.producersTitle {
  color: #282727;
  font-size: 0.875em;
  margin-bottom: 0;
  @include proxima-nova-semibold;
}

.producersDescription {
  color: #282727;
  font-size: 0.875em;
  margin-bottom: 0;
  @include proxima-nova-medium;
}

.producersGrid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 30px;
  grid-row-gap: 12px;
  font-size: 0.875em;
  @include proxima-nova-semibold;
}

@include sm {
  .info {
    flex-direction: column;
    gap: 16px;
    font-size: 0.925em;
    @include inter-semibold;
  }

  .detailsPower {
    font-size: 0.75em !important;
  }

  .producersDescription {
    font-size: 0.75em;
  }

  .producersGrid {
    grid-template-columns: repeat(2, auto);
  }
}
