@import '../../../assets/styles/colors';
@import '../../../assets/styles/fontMixins';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.container {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background: #F8F7F7;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.title {
  margin: 0;
  font-size: 0.9375em;
  @include proxima-nova-medium
}

.votesContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px 0;
}

.actionButton {
  padding-top: 2px!important;
  padding-bottom: 2px!important;
  width: 56px!important;
  min-width: unset!important;
  font-size: 0.75em;
  @include proxima-nova-semibold;
}
