@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';
@import '../../assets/styles/fontMixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
