@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';
@import '../../assets/styles/fontMixins.scss';

.wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  margin-left: 0 !important;
  row-gap: 16px;
  column-gap: 8px;
  width: 100%;
  color: $baltic-sea;

  .value {
    @include proxima-nova-bold;

    &.wrap {
      text-wrap: wrap;
      word-wrap: break-word;
    }
  }
}

@include sm {
  .wrapper {
    grid-template-columns: auto;
    row-gap: 10px;
  }
}
