@import '../../assets/styles/colors';
@import '../../assets/styles/fontMixins';
@import '../../assets/styles/mediaQueriesMixings.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 5px;
}

.description {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: bold;
  @include sf-pro-display-bold;
}

.spinner {
  width: 100% !important;
  font-size: 1.25em;
}

@include md {
  .container {
    padding: 30px 20px;
  }
}

@include lg {
  .container {
    max-width: 1200px;
    width: 100%;
  }
}
