@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/fontMixins.scss';
@import '../../../../assets/styles/mediaQueriesMixings.scss';

.container {
  .tableHeader {
    position: sticky;
    top: 0;
    background-color: $white;
    padding-bottom: 15px;
    font-size: 0.875em;
    white-space: nowrap;
    @include sf-pro-display-medium;
    z-index: 1;

    &:first-child {
      padding-left: 15px;
    }
  }

  .tableCol {
    white-space: nowrap;
    background-color: $milk;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-size: 0.8125em;

    &:first-child {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      padding-left: 15px;
      padding-right: 20px;
      @include sf-pro-display-regular;
      min-width: 150px;
    }

    &:last-child {
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
      padding-right: 10px;
      display: block;
    
      @include sm {
        display: initial;
      }
    }
  }

  .dataItemContainer {
    background-color: $milk;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 0.875em;
  }

  .nameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    .name {
      white-space: pre-wrap;
      margin-bottom: 0;
      word-break: break-all;
    }
  }

  .openIcon {
    margin-left: 10px;
  }

  .remaining {
    display: flex;
    margin: 0 auto;
  }
}

@include lg {
  .container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;

    .tableHeader {
      padding: 10px;
    }

    .tableHeader {
      font-size: 0.8125em;
    }
  }
}
