@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';

.title {
  margin-top: 30px;
  margin-bottom: 0;
  @include proxima-nova-bold;
}

.subtitle {
  margin-top: 18px;
  margin-bottom: 0;
  @include proxima-nova-thin;
  text-align: center;
  padding: 0 20px;
}

.footer {
  margin-top: 22px;
  margin-bottom: 20px;
  @include proxima-nova-thin;
  text-align: center;
  padding: 0 6px;
}

.icon {
  margin: 20px 0 0;
  font-size: 60px;
}

.sendLink {
  @include proxima-nova-semibold;
  color: $white;

  &:hover {
    color: $light-gray;
  }
}

