@import '../../../../assets/styles/fontMixins.scss';
@import '../../../../assets/styles/mediaQueriesMixings.scss';

.subtitle {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 1.125em;
  @include proxima-nova-semibold;
}

.listContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 20px;

  .buttonContainer {
    margin-top: 30px;
  }
}

@include sm {
  .listContainer {
    gap: 10px;
  }
}
