@import '../../../../assets/styles/fontMixins.scss';
@import '../../../../assets/styles/mediaQueriesMixings.scss';

.container {
  margin-top: 30px;

  .headerContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 10px;

    .actionButtons {
      display: flex;
      flex-direction: row;
      gap: 15px;

      .button {
        height: 36px;
        font-size: 0.8125em;
        @include sf-pro-display-thin;

        & > div:nth-child(2) {
          display: flex;
          flex-direction: row;
          gap: 10px;
        }

      }
    }
  }
}

@include sm {
  .container {
    .headerContainer {
      .actionButtons {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
