@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.errorContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  .textContainer {
    display: flex;
    flex-direction: row;
    .icon {
      font-size: 20px;
    }
    .text {
      font-size: 0.925em;
      margin-left: 0.625rem;
      margin-right: 1.25rem;
      margin-bottom: 0;
    }
  }

  .button {
    background-color: $baltic-sea;
    border-radius: 100px;
    height: 36px;
    display: flex;
    flex-direction: row;
    border: none;
    justify-items: center;
    align-items: center;
    align-self: center;
    width: auto;
    margin-bottom: 0;

    .buttonIcon {
      font-size: 1.25em;
    }

    .buttonText {
      @include sf-pro-display-thin;
      font-size: 0.8125em;
      margin-bottom: 0;
      margin-left: 0.625rem;
    }

    p {
      white-space: nowrap;
    }
  }
}

@include sm {
  .errorContainer {
    flex-direction: column;

    .button {
      width: 100%;
      max-width: 100%;
      margin-top: 1.25rem;
    }
  }
}
