@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.container {
  display: flex;
  flex-direction: column;

  .label {
    font-size: 0.875em;
    margin-top: 1.375rem;
    margin-bottom: -10px;
    @include proxima-nova-semibold;
  }

  .badgeContainer {
    color: $dark-jungle-green;
    font-size: 1.072em;
    @include proxima-nova-bold;
    display: grid;
    grid-template-columns: 90px auto;

    .title, .item {
      margin-bottom: 0;
    }

    .title {
      white-space: nowrap;
    }
    .item {
      word-break: break-all;
    }
  }

  .badges {
    display: flex;
    flex-direction: row;
    @include proxima-nova-semibold;

    .nameBadge {
      min-width: 200px;
      .badgeItemNext {
        max-width: 350px;
        word-break: break-all;
      }
    }

    .statusBadge {
      margin-left: 20px;
      .badgeItem {
        white-space: nowrap;
      }
    }

    .badgeContainer {
      display: flex;
      flex-direction: row;
      color: $dark-jungle-green;
      font-size: 1.072em;
      line-height: 26px;
    }
    .badgeItem, .badgeItemNext {
      margin-bottom: 0
    }
    .badgeItemNext {
      margin-left: 1.25rem;
    }
  }

  .button {
    width: 100%;
    max-width: 335px;
    height: 54px;
    margin-top: 30px;
    border-radius: 12px;
    align-self: center;
    @include sf-pro-display-medium;
  }
}

@include sm {
  .container {
    .badgeContainer {
      grid-template-columns: auto;

      .title {
        margin-bottom: 10px;
      }
    }

    .badges {
      flex-direction: column;
      .statusBadge {
        margin-left: 0;
      }
    }
  }
}
