@import '../../../../assets/styles/fontMixins.scss';

.container {
  font-size: 0.9375em;
  margin: 0;

  &.hasSmallFont {
    font-size: 0.8125em;
  }

  .address {
    @include proxima-nova-thin;
  }

  .delimiter, .domain {
    @include proxima-nova-bold;
  }
}
