.container {
  width: 60%;
  margin: 0 auto;
}

.section {
  margin: 40px 0;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin: 0;
  }
}

.listItem {
  border: 1px solid #ebebeb;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > input {
    width: 300px;
    margin-right: auto;
  }
}
