@import '../../assets/styles/colors.scss';

.footer {
  background: $footer-background;
  height: 260px;
  padding: 5px 3%;
  flex-shrink: 0;

  .logo {
    margin-top: 60px;
    width: 76px;
    min-height: 36px;
    background-image: url("../../assets/images/fiologo.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
  }

  .divider {
    opacity: 0.32;
    border-top: 1px solid $milk;
    margin: 30px 0;
  }

  .navItem {
    font-size: 15px;
    margin-right: 2.5rem;
  }
}