@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/mediaQueriesMixings.scss';

.resendButton, .changeButton {
  font-size: 0.875em;
  border-radius: 7px;
  padding: 7px 35px;
  margin-top: 4px;
  display: block;
  margin-top: 10px;
  min-width: 250px;
  outline: none;

  @include sm {
    width: 100%;
  }
}

.resendButton {
  background-color: $cyan-blue;

   &:hover {
    background-color: $cyan;
    border-color: $cyan;
  }
}

.changeButton {
  background-color: $violet;

  &:hover {
    background-color: $clear-blue;
    border-color: $clear-blue;
  }
}
