<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
        a:hover {
            opacity: 0.9;
        }
        @media only screen and (max-width: 650px) {

            .title-heading {
                font-size: 18px !important;
                text-align: center !important;
            }

        }


    </style>

</head>
<body style="width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;">
<center style="background-color:#efefef;padding:20px 0;font-family:&#x27;Google Sans&#x27;, &#x27;Roboto&#x27;, sans-serif;letter-spacing:0.02em"><table style="width:100%;border-collapse:collapse;font-family:&#x27;Google Sans&#x27;, &#x27;Roboto&#x27;, sans-serif;letter-spacing:0.03em;border-spacing:0;padding:0;max-width:602px"><tbody><tr><td><table style="width:100%;border-collapse:collapse;font-family:&#x27;Google Sans&#x27;, &#x27;Roboto&#x27;, sans-serif;letter-spacing:0.03em;border-spacing:0;padding:0"><tbody><tr><td style="background-color:white;padding:0;margin:0"><table style="width:100%;border-collapse:collapse;font-family:&#x27;Google Sans&#x27;, &#x27;Roboto&#x27;, sans-serif;letter-spacing:0.03em;border-spacing:0;padding:0;margin:0 auto;background:linear-gradient(172.92deg, #181642 0%, #000000 100%);-webkit-box-shadow:0px 6px 28px -3px rgba(0,0,0,0.76);box-shadow:0px 6px 28px -3px rgba(0,0,0,0.76)"><tbody><tr><td><img src="cid:fiologo.png" alt="logo" style="outline:none;text-decoration:none;border:none;display:block;height:36px;padding:39px 40px"/></td><td><p style="font-size:22px;line-height:28px;font-weight:500;padding:39px 40px;color:#ffffff;text-align:right;margin:0">Confirm Email</p></td></tr></tbody></table><table style="width:100%;border-collapse:collapse;font-family:&#x27;Google Sans&#x27;, &#x27;Roboto&#x27;, sans-serif;letter-spacing:0.03em;border-spacing:0;padding:0"><tbody><tr><td style="padding:40px"><table style="width:100%;border-collapse:collapse;font-family:&#x27;Google Sans&#x27;, &#x27;Roboto&#x27;, sans-serif;letter-spacing:0.03em;border-spacing:0;padding:0;color:#3C434B"><tbody><tr><td><table style="width:auto;border-collapse:collapse;font-family:&#x27;Google Sans&#x27;, &#x27;Roboto&#x27;, sans-serif;letter-spacing:0.03em;border-spacing:0;padding:0"><tbody><tr><td><h1 style="font-size:16px;font-weight:600;line-height:28px;margin-top:5px;margin-bottom:10px;color:#3C434B" class="title-heading">Hi!,</h1></td></tr></tbody></table></td></tr><tr><td><p style="font-size:12px;line-height:24px;margin:7px 0">Please confirm your email by clicking the button below.</p></td></tr><tr><td><table style="width:auto;border-collapse:collapse;font-family:&#x27;Google Sans&#x27;, &#x27;Roboto&#x27;, sans-serif;letter-spacing:0.03em;border-spacing:0;padding:0;margin:10px 0 15px"><tbody><tr><td><a href="{{link}}" style="width:auto;height:34px;background-color:#4588FF;border-radius:8px;display:inline-block;font-size:12px;font-weight:600;line-height:34px;padding:0px 50px;color:#ffffff;text-decoration:none;text-align:center;-webkit-box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.11);box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.11)" target="__blank">Confirm Email</a></td></tr></tbody></table></td></tr><tr><td><p style="font-size:12px;line-height:24px;margin:7px 0">If the button above does not work, please use this link:</p></td></tr><tr><td><a href="{{link}}" style="font-size:12px;line-height:24px;margin:7px 0;color:#4588FF;text-decoration:none" target="__blank">{{link}}</a></td></tr><tr><td><p style="font-size:13px;line-height:24px;margin:26px 0 0"><b>FIO Dashboard Team.</b></p></td></tr></tbody></table></td></tr></tbody></table><table style="width:100%;border-collapse:collapse;font-family:&#x27;Google Sans&#x27;, &#x27;Roboto&#x27;, sans-serif;letter-spacing:0.03em;border-spacing:0;padding:0;margin:0 0 60px;color:#3C434B"><tbody><tr><td style="width:100%;padding:0 40px"><p style="font-size:12px;line-height:24px;margin:0;border-top:1px solid #eaeaea;width:100%;padding-top:40px">Have questions?</p><p style="font-size:12px;line-height:24px;margin:10px 0 0;font-weight:700">Please contact a member of our customer support team immediately.</p></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></center>
</body>
</html>
