@import '../../../../../../assets/styles/colors.scss';
@import '../../../../../../assets/styles/fontMixins.scss';
@import '../../../../../../assets/styles/mediaQueriesMixings.scss';

.tabsScrollContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 10px;
}

.directorContainer {
  background-color: $white;
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;

  @include lg {
    max-width: none;
    padding: 16px 28px;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: space-between;

    @include lg {
      align-items: center;
      flex-direction: row;
      gap: 20px;
    }

    .dataContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      width: 100%;

      .img {
        width: 68px;

        &.withoutPhoto {
          background-color: $dark-baltic-sea;
          border-radius: 8px;
          padding: 10px;
        }

        @include lg {
          width: 54px;
        }
      }

      .nameContainer {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .name,
        .lastVoted {
          margin: 0;
        }

        .name {
          font-size: 0.9375em;
          color: $dark-tone-ink;
          @include proxima-nova-semibold;
        }

        .lastVoted {
          font-size: 0.625em;
          @include inter-regular;

          span {
            @include inter-semibold;
          }
        }
      }
    }

    .itemActionContainer {
      display: flex;
      flex-direction: row;
      gap: 8px;
      margin: 0;
      width: 100%;
      align-items: center;

      @include lg {
        align-self: flex-start;
        justify-self: flex-end;
        width: auto;
        gap: 10px;
      }

      & > div {
        height: 28px;
        padding: 8px 16px;
      }

      .candidateBadge {
        background-color: $briquette-grey;
        color: $white;
      }
    }
  }
}
