@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';
@import '../../assets/styles/fontMixins.scss';

.container {
  .tableHeader, .tableCol {
    @include sf-pro-display-medium;
    font-size: 0.875rem;
  }
  .tableHeader {
    position: sticky;
    top: 0;
    background-color: $white;
    padding-bottom: 15px;
  }
  .firstHeaderCol {
    padding-left: 15px;
  }

  .tableCol {
    white-space: nowrap;
    background-color: $milk;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }

  .firstCol {
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px;
    padding-left: 15px;
    padding-right: 20px;
  }

  .lastCol {
    border-bottom-right-radius: 15px; 
    border-top-right-radius: 15px;
    padding-right: 10px;
  }

  .domainType {
    color: $white;
    background-color: $fountain-blue;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.625rem;
    line-height: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &.public {
      background-color: $irish-green;
    }
  }

  .itemContainer {
    background-color: $milk;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 0.875rem;
  }

  .nameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
    // width: 100%;

    .name {
      white-space: pre-wrap;
      margin-bottom: 0;
    }
  }
  .infoIcon {
    margin-left: 10px;
    color: $blue;
    cursor: pointer;
  }
  .warnIcon {
    margin-left: 10px;
    color: $simple-orange;
    cursor: pointer;
  }

  .actionButtonsContainer {
    display: flex;

    .actionButton {
      font-size: 0.875rem;
      @include sf-pro-display-thin;
      background-color: $violet;
      border-color: $violet;
      border-radius: 7px;
      margin-right: 20px;
      white-space: nowrap;

      &:hover {
        background-color: $clear-blue;
        border-color: $clear-blue;
      }
    }

    .settingsButton {
      background-color: $manatee;
      border-color: $manatee;
      width: 36px;
      font-size: 1.25rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $dove-gray;
        border-color: $dove-gray;
      }
    }

    .actionButton, .settingsButton {
      height: 36px;
      border-radius: 7px;
      transition: color .15s ease-in-out,
      background-color .15s ease-in-out,
      border-color .15s ease-in-out,
      box-shadow .15s ease-in-out;
    }

    .atIcon {
      margin-right: 10px;
    }
  }
}

@include lg {
  .container {
    display: grid;
    grid-template-columns: auto auto auto auto;

    .tableHeader, .tableCol {
      padding: 10px;
    }
    .tableHeader {
      font-size: 0.8125rem;
    }

    .nameContainer {
      width: 100%;
      justify-content: space-between;
    }

    .warnIcon {
      margin-left: 5px;
    }
  }
}
