@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';
@import '../../assets/styles/fontMixins.scss';

.container {
  position: relative;
  display: flex;
  margin: 0;
  flex-direction: column;
  width: 100%;

  .contentContainer {
    display: flex;
    flex-direction: column;

    .warningBadgeContainerWithMarginTop {
      margin-top: 20px;
    }

    .listNameTitle {
      margin-top: 15px;
    }
  }

  .topBadge {
    align-self: center;
    margin: 0 20px;
    width: calc(100% - 40px);
  }

  .subtitle {
    @include proxima-nova-thin;
    font-size: 0.875rem;
  }

  .actionBadge {
    margin: 0 20px 30px;
    width: auto;
  }
}

.badgeContainer {
  border-radius: 15px;
  padding: 30px;
  color: $white;

  .title {
    color: $white;
    font-size: 1.0625rem;
    @include proxima-nova-semibold;
  }

  .text {
    font-size: 0.875rem;
    @include proxima-nova-thin;
    margin-bottom: 0;
  }

  .ctaText {
    margin-top: 1em;
    @include proxima-nova-semibold;
  }

  .link {
    display: flex;

    .button {
      min-width: 70%;
      background-color: transparent;
      border-color: $white;
      min-height: 40px;
      border-radius: 100px;
      font-size: 0.75rem;
      padding-left: 22px;
      padding-right: 22px;
      margin-top: 1.25em;
      @include sf-pro-display-medium;

      &:hover {
        background-color: $white;
        color: $light-indigo;
        border-color: $white;
      }
    }
  }
}

@include md {
  .container {
    .actionBadge {
      width: 100%;
      margin: 0 0 30px;
      padding: 0 20px;

      .badgeContainer {
        .link {
          .button {
            min-width: auto;
          }
        }
      }
    }
  }
}

@include lg {
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 80px;

    .contentContainer {
      display: flex;
      flex-direction: row;
    }

    .actionBadge {
      margin-top: 60px;
      margin-left: 60px;
      max-width: 315px;
      width: 100%;
    }

    .tableContainer {
      max-height: 500px;
    }
  }
}
