@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.infoBadge {
  display: flex;
  flex-direction: row;
  align-items: center;

  .infoIcon {
    font-size: 20px;
  }

  .infoText {
    margin-bottom: 0;
    margin-left: 1rem;
    font-size: 0.9375em;
    margin-top: 1px;
  }
}

.priceBadge {
  padding: 5px;
}

.badgeContainer {
  margin-top: -30px;
  margin-bottom: 30px;
}

.container {
  background-color: $hint;
  border-radius: 12px;
  padding: 1.875rem;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      margin: 0 0 0 1.25rem;
      color: $black;
    }
  }

  .cta {
    display: flex;
    flex-direction: row;
    margin-top: 1.875rem;
    width: fit-content;

    .ctaIconContainer {
      width: 26px;
      height: 26px;
      background-color: $light-indigo;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .ctaIcon {
        font-size: 1em;
        color: $white;
      }
    }

    .ctaText {
      margin-left: 0.625rem;
      font-size: 0.9375em;
      color: $baltic-sea;
      margin-bottom: 0;
    }
  }
}

.itemContainer {
  margin-left: 0 !important;
  color: $dark-jungle-green;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .itemNameContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .address {
    font-size: 1em;
    word-break: break-word;
    margin-right: 30px;
    @include proxima-nova-medium;
  }

  .descriptor {
    @include proxima-nova-regular;
    font-size: 13px;
  }

  .period {
    > div {
      min-width: 120px;
      width: 120px;
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  .price {
    margin: 0 1.5rem 0 auto;
    flex-shrink: 0;
    font-size: 1em;
    @include proxima-nova-regular;
  }

  .icon {
    color: $baltic-sea;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      transform: rotate(90deg);
    }
  }
}

.amountTitle {
  @include proxima-nova-semibold;
  position: absolute;
  top: 60px;
  margin-left: -1.875rem;
  color: $baltic-sea;
}

.amountSubtitle {
  @include proxima-nova-regular;
  color: $black;
}

.total {
  margin-top: 0.625rem;

  .divider {
    margin-top: 1.25rem;
  }

  .cost {
    margin-top: 1.25rem;
    margin-bottom: 0;
    font-size: 0.8125em;
    display: flex;
    flex-direction: row;
    gap: 5px;
    @include proxima-nova-semibold;

    .light {
      @include proxima-nova-thin;
    }
  }
}

@include md {
  .amountTitle {
    top: -50px;
    left: 0;
    margin-left: 0;
  }
}

@include sm {
  .amountTitle {
    font-size: 1.25em;
    line-height: 1.25em;
    top: -50px;
    left: 0;
    margin-left: 0;
  }

  .infoBadge {
    .infoText {
      line-height: 1.5em;
    }
  }

  .container {
    padding: 1.25rem;
  }

  .itemContainer {
    flex-direction: column;
    position: relative;

    .price {
      margin: 0.625rem 1.875rem 0 0;
    }

    .icon {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      right: -10px;
    }

    .period {
      margin-top: 15px;
    }
  }
}

.paymentsBlock {
  margin-top: -10px;
}

.itemWithPeriod {
  overflow: visible;

  .itemContainer {
    .itemNameContainer {
      width: 200px;
    }
  }
}

@keyframes expand {
  0%   { max-height: 0; }
  100% { max-height: 15em; }
}
