@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';

.icon {
  margin-top: 20px;
  font-size: 40px;
}

.connectIcon {
  margin-top: 20px;
  font-size: 56px;
  transform: rotate(270deg) scale(-1, 1.5);
}

.transactionContent {
  width: 100%;
}

.dialog {
  width: 480px;
}

.title {
  margin-top: 10px;
  font-size: 1.25em;
}

.transactionTitle {
  margin-top: 20px;
  font-size: 1.125em;
  margin-bottom: 0;
  @include sf-pro-display-medium;
}

.text {
  font-size: 0.75em;
  margin-bottom: 0;
}

.transactionText {
  font-size: 0.75em;
  margin-top: 15px;
  @include sf-pro-display-medium;
}

.button {
  border: $onyx;
  background-color: $onyx;
  height: 54px;
  width: 100%;
  margin-top: 20px;
  border-radius: 100px;
  color: $white;
  margin-bottom: 10px;
  @include proxima-nova-semibold;

  &:hover:enabled {
    border: $content-background;
    background-color: $content-background;
  }

  &:disabled, &[disabled] {
    border: $dark;
    background-color: $dark;
  }

  &.light {
    border: $light-indigo;
    background-color: $light-indigo;

    &:hover:enabled {
      border: $iris;
      background-color: $iris;
    }
  }
}
