@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/fontMixins.scss';
@import '../../../../assets/styles/mediaQueriesMixings.scss';

.container {
  padding: 30px 30px 104px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .mediaContainer {
    width: 100%;
    max-width: 335px;

    .img {
      width: 100%;
    }

    .videoContainer {
      position: relative;
      width: 100%;
      height: fit-content;

      .cover {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../../../../assets/images/video-cover.png");
        background-size: 100%;
        background-position: center;
        visibility: visible;
        cursor: pointer;

        &.showVideo {
          visibility: hidden;
        }

        .icon {
          position: absolute;
          top: 30px;
          left: 30px;
          color: $white;
          width: 54px;
          height: 54px;
        }
      }
      .videoFrame {
        width: 100%;
        aspect-ratio: 16 / 9;
        visibility: hidden;
        opacity: 0;

        &.showVideo {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .textContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title {
      margin: 0;
      line-height: 2em;
      @include comfortaa-bold;
    }

    .text {
      margin-top: 15px;
      margin-bottom: 0;
      font-size: 0.875em;
      @include proxima-nova-thin;
    }

    .link {
      margin-top: 20px;
      align-self: center;

      .buttonText {
        font-size: 0.875em;
        @include sf-pro-display-medium;
      }
    }
  }
}

@include lg {
  .container {
    padding: 50px 50px 83px 70px;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;

    &.useMobileView {
      padding: 30px 30px 104px 30px;
      flex-direction: column;
      align-items: center;

      .textContainer {
        margin-top: 30px;
        .link {
          align-self: center;
        }
      }
    }

    .textContainer {
      margin-top: 0;
      .link {
        align-self: flex-start;
      }
    }
  }
}
