@import '../../../../assets/styles/fontMixins.scss';

.subtitle {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 1.125rem;
  @include proxima-nova-semibold;
}

.infoBadgeContainer {
  margin-top: -10px;
}
