@import '../../../../assets/styles/fontMixins.scss';
@import '../../../../assets/styles/mediaQueriesMixings.scss';

.container {
  margin-bottom: 30px;

  .subtitle {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 1.125rem;
    @include proxima-nova-semibold;
  }

  .infoBadgeContainer {
    margin-top: -10px;
  }
}

.infoBadge {
  span {
    word-break: break-word !important;
  }
}

@include lg {
  .container {
    margin-bottom: 0;
    max-width: 768px;
  }
}
