@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.container {
  display: flex;
  flex-direction: column;
  
  .actionElement {
    font-size: 0.875em;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    @include sf-pro-display-medium;
  }

  .nameContainer {
    margin-top: 10px;
  }

  .subtitle {
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 0.875em;
    @include proxima-nova-bold;
  }
}

@include lg {
  .container {
    .actionElement {
      margin-bottom: -20px;
    }
  }
}
