@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 430px;

  .selectionContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .username {
    width: 100%;
  }

  .space {
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }

  .link {
    min-width: 80px;

    button {
      height: 40px;
      margin: 0;
      white-space: nowrap;
    }
  }

  .submit {
    position: relative;
    max-width: 275px;
    height: 40px;
    font-size: 0.875em;
    border-radius: 7px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loaderIcon {
    margin-left: 1rem;
    position: absolute;
    right: 15%;
  }

  .domainContainer {
    width: 100%;
  }

  .domainInput {
    width: 100%;
  }

  &.isReverseColors {
    .actionTextContainer {
      color: $white;
    }
  }

  &.isDarkWhite {
    .actionTextContainer {
      color: $white;
    }
  }
}

.addressContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: $baltic-sea;

  .address {
    margin-bottom: 0;
    margin-right: 30px;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .name {
      @include proxima-nova-bold;
    }
  }

  .descriptor {
    @include proxima-nova-regular;
    font-size: 13px;
  }

  .period {
    margin-bottom: 0;
    margin-right: 5px;

    > div {
      min-width: 120px;
      width: 120px;
      margin-bottom: 0;
    }
  }

  .price {
    @include proxima-nova-bold;
    margin: 0 15px 0 auto;
    flex-shrink: 0;

    .usdcAmount {
      @include proxima-nova-thin;
    }
  }

  .actionContainer {
    display: flex;
    flex-shrink: 0;

    .added {
      display: none;
      align-items: center;

      .fioBadge {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        border-radius: 100px;
        min-height: 36px;
        padding: 0 10px;
        background-color: $irish-green;
        color: $white;

        .icon {
          font-size: 20px;
        }

        .title {
          margin-bottom: 0;
          margin-left: 10px;
          font-size: 13px;
          line-height: 20px;
        }
      }

      .iconClose {
        margin-left: 10px;
        font-size: 20px;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          transform: rotate(90deg);
        }
      }
      &.show {
        display: flex;
      }
    }

    .button {
      border-radius: 100px;
      font-size: 13px;
      @include sf-pro-display-thin;
      display: none;
      align-items: center;
      min-height: 36px;

      .icon {
        margin-right: 10px;
        font-size: 20px;
      }
      &.show {
        display: flex;
      }
    }
  }
}

.showPrice {
  max-height: fit-content;
}

.bouncingLoader {
  display: flex;
  justify-content: center;
  margin: 0 16px;

  > div {
    width: 8px;
    height: 8px;
    margin: 3px;
    border-radius: 50%;
    background-color: $white;
    opacity: 1;
    animation: bouncing-loader 0.6s infinite alternate;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@include sm {
  .form {
    .selectionContainer {
      flex-direction: column;
      gap: 0;
    }

    .username {
      > div {
        margin-bottom: 20px;
      }
    }

    .username, .domainContainer, .domainInput {
      flex-basis: 80%;
      max-width: 100%;
    }

    .actionTextContainer {
      flex-direction: column;
      align-items: center;
      max-width: 220px;
      gap: 10px;
    }

    .submit, .optionButton {
      height: 40px;
    }

    .space {
      display: none;
    }

    .link {
      width: 100%;
    }

    .submit {
      margin: 0;
      max-width: 100%;
    }

    .optionItem {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .addressContainer {
    flex-wrap: wrap;
    justify-content: space-between;

    .address, .price {
      margin-bottom: 15px;
    }

    .price {
      margin-left: 0;
      margin-right: 0;
    }

    .actionContainer {
      width: 100%;

      .button {
        width: 100%;
      }

      .added {
        width: 100%;
        justify-content: space-between;

        .fioBadge {
          width: 80%;
        }

        .iconClose {
          margin-right: 10px;
        }
      }
    }
  }
}

@keyframes expand {
  0%   { max-height: 0; }
  100% { max-height: 15em; }
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
  }
}

.showOverflow {
  overflow: visible;
}
