@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 610px;

  .username {
    width: 100%;
  }

  .at {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    font-size: 18px;
    line-height: 18px;
  }

  .submit {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .domainContainer {
    width: 100%;
  }

  .domainInput {
    width: 100%;
  }

  .dropdown {
    margin-bottom: 30px;
    width: 100%;

    .icon {
      font-size: 13px;
      color: white;
    }
  }
  .control {
    width: 100%;
    background-color: $bright-violet;
    border-radius: 7px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 1001; //show over menu
    @include sf-pro-display-medium;
  }
  .placeholder {
    color: white;
  }
  .menu {
    border-radius: 0 0 7px 7px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.53);
    margin-top: -7px;
    padding-top: 7px;
    max-height: fit-content;
    animation-name: expand;
    animation-duration: 0.4s;
  }

  .optionItem {
    @include sf-pro-display-medium;
    margin: 0 auto;
    font-size: 13px;
    color: $black;
    text-align: left;
    padding: 9px 20px 9px 20px;

    &:after {
      content: ' ';
      position: absolute;
      width: calc(100% - 20px);
      left: 10px;
      margin: -9px auto 0;
      border-bottom: 1px solid $light;
    }

    &:last-child:after, &:first-child:after {
      border: none;
    }

    &:hover {
      color: $white;
      background-color: $dark-gray;
    }

    &:hover:after {
      border-color: $dark-gray;
    }
  }

  .optionButton {
    @include sf-pro-display-medium;
    background-color: $dark-gray;
    text-align: left;
    color: $white;
    height: 32px;
    border-radius: 7px;
    margin: 9px 10px 10px 10px;
    display: flex;
    align-items: center;
    font-size: 13px;
    border-bottom-right-radius: 7px !important; //rewrite default dropdown styles
    border-bottom-left-radius: 7px !important; //rewrite default dropdown styles
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.11);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:hover {
      color: $white;
      background-color: $violet;
    }
  }
}

.addressContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: $dark-jungle-green;

  .address {
    margin-bottom: 0;
    margin-right: 30px;
    word-break: break-word;
    .name {
      @include proxima-nova-bold;
    }
  }
  .price {
    @include proxima-nova-bold;
    margin: 0 30px 0 auto;
    flex-shrink: 0;

    .usdcAmount {
      @include proxima-nova-thin;
    }
  }

  .actionContainer {
    display: flex;
    flex-shrink: 0;

    .added {
      display: none;
      align-items: center;

      .fioBadge {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        border-radius: 7px;
        min-height: 36px;
        padding: 0 10px;
        background-color: $irish-green;
        color: $white;

        .icon {
          font-size: 20px;
        }

        .title {
          margin-bottom: 0;
          margin-left: 10px;
          font-size: 13px;
          line-height: 20px;
        }
      }

      .iconClose {
        margin-left: 10px;
        font-size: 20px;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          transform: rotate(90deg);
        }
      }
      &.show {
        display: flex;
      }
    }

    .button {
      border-radius: 7px;
      font-size: 13px;
      @include sf-pro-display-thin;
      display: none;
      align-items: center;
      min-height: 36px;

      .icon {
        margin-right: 10px;
        font-size: 20px;
      }
      &.show {
        display: flex;
      }
    }
  }
}

.showPrice {
  max-height: fit-content;
}

@include sm {
  .form {
    flex-flow: wrap;
    justify-content: space-between;

    .dropdown {
      max-width: 100%;
      width: 100%;
    }

    .username, .domainContainer, .domainInput {
      flex-basis: 80%;
      max-width: 100%;
    }

    .dropdown, .control, .submit, .optionButton {
      height: 40px;
    }

    .at {
      margin: 0;
    }

    .submit {
      margin: 0;
      font-size: 18px;
    }

    .optionItem {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .addressContainer {
    flex-wrap: wrap;
    justify-content: space-between;

    .address, .price {
      margin-bottom: 15px;
    }

    .price {
      margin-left: 0;
      margin-right: 0;
    }

    .actionContainer {
      width: 100%;

      .button {
        width: 100%;
      }

      .added {
        width: 100%;
        justify-content: space-between;

        .fioBadge {
          width: 80%;
        }

        .iconClose {
          margin-right: 10px;
        }
      }
    }
  }
}

@keyframes expand {
  0%   { max-height: 0; }
  100% { max-height: 15em; }
}
