@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/fontMixins';

.badgeContainer {
  .dataContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    color: $baltic-sea;
    margin: 0 !important;

    .title {
      @include inter-bold;
    }

    .value {
      margin-top: 8px;
      @include inter-regular;
    }
  }
}
