@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';
@import '../../assets/styles/fontMixins.scss';

.container {
  width: 100%;
  background-image: $violet-gradient;
  border-radius: 8px;
  color: $white;
  padding: 30px;
  display: flex;
  flex-direction: column;

  .title {
    @include inter-bold;
    margin-bottom: 0;
    font-size: 1.375rem;
    line-height: 1.625rem;
  }

  .subtitle {
    @include proxima-nova-thin;
    font-size: 0.75rem;
    margin: 15px 0 5px;
  }

  .point {
    @include proxima-nova-regular;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 15px 0 0;
    font-size: 14px;
    line-height: 16px;
  }
}

@include lg {
  .container {
    height: 100%;
    max-width: 383px;
  }
}
