@import '../../assets/styles/colors.scss';

.tableContainer {
  width: auto;
  margin-top: 30px;

  .itemsContainer {
    width: 100%;
    margin-bottom: 30px;

    .head {
      display: grid;
      grid-template-columns: 30px 20px 400px 200px 100px;
      padding: 15px;
    }

    .head {
      border-bottom: 1px solid $silver;
    }
  }

  th {
    text-align: center;
    vertical-align: middle;
  }

  .apiTitles {
    margin-top: 30px;
  }

  .paginationContainer {
    margin-top: 30px;
  }
}

.userItem {
  align-items: center;
  margin-top: 15px;
  border: 1px solid $silver;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 30px 20px 400px 200px 100px;
  padding: 15px;
  cursor: pointer
}

.dragItemContainer {
  border-radius: 15px;

  &:nth-of-type(odd) {
    background-color: $light-gray;
  }
}
