@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.tweetShareSection {
  width: 100%;
  margin: -95px auto 70px auto;
}

.tweetShareActionText {
  width: 40%;
  margin: 0 auto 35px auto;
  text-align: center;
}

.tweetShareContainer {
  width: 18%;
  margin: auto;
  border: 1px solid $off-white;
  padding: 15px 23px;
  border-radius: 7px;
  box-shadow: 0 0 8px 0 RGBA(0, 0, 0, 0.11);
}

.tweetShareButton {
  background: $twitter-blue;
  padding: 7px 20px;
  border-radius: 30px;
  color: $white;
  font-weight: bold;
}

.tweetShareButton:hover {
  color: $white;
}

.tweetShareButtonIcon {
  position: relative;
  left: -5px;
  top: -1px;
}

.tweetShareBottom {
  width: 100%;
  text-align: right;
  margin-bottom: 15px;
  margin-top: 30px;
}

.blueText {
  color: $twitter-blue;
}

@include sm {
  .tweetShareContainer {
    width: 73%;
  }

  .tweetShareActionText {
    margin: 35px auto;
  }
}

@include md {
  .tweetShareContainer {
    width: 52%;
  }
}

@include sds {
  .tweetShareContainer {
    width: 35%;
  }
}

@include lg {
  .tweetShareContainer {
    width: 28%;
  }
}
