.tweetShareSection {
  width: 100%;
  margin: -95px auto 70px auto;
}

.tweetShareActionText {
  width: 40%;
  margin: 0 auto 35px auto;
  text-align: center;

  @media only screen and (max-width: 505px) {
    margin: 35px auto;
  }
}

.tweetShareContainer {
  width: 18%;
  margin: auto;
  border: 1px solid #e1e8ed;
  padding: 15px 23px;
  border-radius: 7px;
  box-shadow: 0 0 8px 0 RGBA(0, 0, 0, 0.11);

  @media only screen and (max-width: 1400px) {
    width: 28%;
  }

  @media only screen and (max-width: 1005px) {
    width: 35%;
  }

  @media only screen and (max-width: 805px) {
    width: 52%;
  }

  @media only screen and (max-width: 505px) {
    width: 73%;
  }
}

.tweetShareButton {
  background: #00acee;
  padding: 7px 20px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
}

.tweetShareButton:hover {
  color: white;
}

.tweetShareButtonIcon {
  position: relative;
  left: -5px;
  top: -1px;
}

.tweetShareBottom {
  width: 100%;
  text-align: right;
  margin-bottom: 15px;
  margin-top: 30px;
}

.blueText {
  color: #00acee;
}
