@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';
@import '../../assets/styles/fontMixins.scss';

.tweetShareSection {
  display: flex;
  flex-direction: column;
  margin: -95px auto 70px auto;
}

.tweetShareActionText {
  width: 40%;
  margin: 0 auto 35px auto;
  text-align: center;
}

.tweetShareContainer {
  width: auto;
  margin: auto;
  border: 1px solid $off-white;
  padding: 15px 23px;
  border-radius: 7px;
  box-shadow: 0 0 8px 0 RGBA(0, 0, 0, 0.11);
  p {
    width: 280px;
  }
}

.tweetShareButton {
  background: $twitter-blue;
  padding: 7px 20px;
  border-radius: 30px;
  color: $white;
  font-weight: bold;
}

.tweetShareButton:hover {
  color: $white;
}

.tweetShareButtonIcon {
  position: relative;
  left: -5px;
  top: -1px;
}

.tweetShareBottom {
  width: 100%;
  text-align: right;
  margin-bottom: 15px;
  margin-top: 30px;
}

.blueText {
  color: $twitter-blue;
}

.fch {
  @include proxima-nova-semibold
}

@include sm {
  .tweetShareActionText {
    width: 80%;
    margin: 35px auto;
    text-align: center;
  }
}
