@import '../../../assets/styles/colors.scss';

.container {
  background-color: $white;
  padding: 6px;
  border-radius: 4px;

  &.isBlack {
    background-color: $tuna;
  }
  &.isBlue {
    background-color: $butterfly-blue;
  }
  &.isBlueGreen {
    background-color: $blue-green;
  }
  &.isGreen {
    background-color: $irish-green;
  }
  &.isOrange {
    background-color: $blaze-orange;
  }
  &.isRose {
    background-color: $wild-strawberry;
  }
  &.isRed {
    background-color: $faded-red;
  }

  &.hasRoundBorders {
    border-radius: 100px;
  }
}
