@import '../../../assets/styles/colors.scss';

.arrow {
  font-size: 1.5em;
  transition: 0.2s ease-in-out;
  transform: translateX(0);
  color: $baltic-sea;

  &.isWhite {
    color: $white;
  }


  &:hover {
    cursor: pointer;
    transform: translateX(-4px);
  }
}
