@import '../../../assets/styles/colors.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  .arrow {
    font-size: 1.5em;
    transition: 0.2s ease-in-out;
    transform: translateX(0);
    color: $baltic-sea;

    &.isWhite {
      color: $white;
    }
  }

  p {
    margin: 0;
  }

  &:hover {    
    .arrow {
      cursor: pointer;
      transform: translateX(-4px);
    }

    color: inherit;
  }
}
