@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.container {
  padding: 70px 120px;
  background: $blue-linear-background;
  color: $white;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-flow: wrap;

  .contentContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-top: 30px;

    .title {
      font-size: 2.625rem;
    }

    .subtitle {
      font-size: 1.0625rem;
      margin-top: 20px;
      @include proxima-nova-thin
    }

    .contentList {
      padding-left: 13px;
  
      .contentListItem {
        font-size: 1.0625rem;
        margin-top: 20px;
        @include proxima-nova-semibold;
      }
    }
  }

  .imageContainer {
    flex-basis: 100%;

    .image {
      width: 100%;
    }
  }
}

@include lg {
  .container {
    .contentContainer, .imageContainer {
      flex-basis: 45%;
    }

    .contentContainer {
      margin-top: 0;
    }
  }
}

@include sm {
  .container {
    padding: 50px 25px;
  }
}