@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

@import './commonStyles.module.scss';

.container {
  border: 1px solid $mountain-mist;
  border-radius: 34px;
  padding: 50px;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 3rem;
    color: $black;
    margin: 0;
  }

  .subtitle {
    font-size: 1.25rem;
    margin-top: 10px;
    line-height: 2rem;
    @include proxima-nova-thin;
  }

  .contentContainer {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;

    @include lg {
      grid-template-columns: auto auto auto;
    }

    @include sm {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .contentItem {
      display: flex;
      flex-direction: row;
      margin: 42px 0;

      @include sm {
        margin: 24px 0;
      }

      .contentIcon {
        width: 80px;
        height: 80px;
        margin-right: 20px;
      }

      .contentItemTitle {
        font-size: 1.375rem;
        color: $black;
        @include proxima-nova-semibold;
      }

      .contetnItemList {
        padding-left: 13px;
        
        .contentItemListItem {
          font-size: 0.875rem;
          @include proxima-nova-thin;
        }
      }
    }
  }

  .actionButton {
    border: $onyx;
    background-color: $onyx;
    color: $white;
    height: 40px;
    width: 180px;
    font-size: 0.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    align-self: center;
    @include proxima-nova-semibold;
    
    &:hover {
      border: $content-background;
      background-color: $content-background;
    }
  }
}
