@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

@import './commonStyles.module.scss';

.container {
  background: $blue-linear-background;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contentContainer {
    max-width: 500px;

    .contentTitle {
      font-size: 2.625rem;
    }
    .contentSubtitle {
      font-size: 1.0625rem;
      margin-top: 20px;
      max-width: 400px;
    }
    .contentList {
      font-size: 1.0625rem;
      margin-top: 20px;
      padding-left: 14px;

      .contentListItem {
        margin-top: 20px;
      }
    }
  }

  .imageContainer {
    margin: 40px -25px 0 0;

    .image {
      width: 100%;
    }
  }
}

@include md {
  .container {  
    .imageContainer {
      margin: 40px -120px 0 30px;
    }
  }
}

@include lg {
  .container {
    flex-direction: row;

    .imageContainer {
      margin: 0 -120px 0 30px;
    }
  }
}
