@import '../../assets/styles/colors';
@import '../../assets/styles/fontMixins';
@import '../../assets/styles/mediaQueriesMixings.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 20px;

  .actionContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

@include md {
  .container {
    padding: 30px 20px;
  }
}

@include lg {
  .container {
    max-width: 1400px;
    padding: 30px 80px;

    .actionContainer {
      flex-direction: row;
      align-items: stretch;
      gap: 30px;
    }
  }
}

