@import '../../assets/styles/colors';
@import '../../assets/styles/fontMixins';
@import '../../assets/styles/mediaQueriesMixings.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 20px;

  .actionContainer {
    margin-top: 25px;
  }
}

@include md {
  .container {
    padding: 30px 20px;
  }
}

@include lg {
  .container {
    max-width: 1200px;
    padding: 30px 80px;
  }
}

