.tableContainer {
  width: auto;
  margin-top: 30px;

  th {
    text-align: center;
    vertical-align: middle;
  }

  .orderItem { cursor: pointer }

  .datePickerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > div > div[class="react-datepicker__input-container"] {
      padding-right: 30px;

      input {
        width: 200px;
      }
    }
  }
}
