@import '../../assets/styles/fontMixins';
@import '../../assets/styles/colors';
@import '../../assets/styles/forms';

.formBox {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;

  .forgotPasswordLink {
    margin-bottom: 30px;
  }

  .createAccountLink, .forgotPasswordLink {
    font-size: 15px;
    @include proxima-nova-bold;
  }

  .forgotPass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .icon {
      color: $light-indigo;
      width: 77px;
      height: 77px;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    .subtitle {
      font-size: 15px;
      line-height: 18px;
      width: 92%;
      margin: 15px auto;
      @include proxima-nova-thin
    }

    .button {
      width: 98%; //should be 100% but transition bug articfact
      height: 54px;
      font-weight: bold !important;
      margin-bottom: 40px;
      background-color: $light-indigo;
      border: 1px solid $light-indigo;
      border-radius: 100px;

      &:hover {
        background-color: $iris;
        border-color: $iris;
      }
    }
  }

  .box {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    left: 0;
    transition: all 0.4s ease;

    &.show {
      left: -100%;
    }
  }

  .exitPin {
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-bottom: 20px;
    @include proxima-nova-semibold;

    &:hover {
      color: $mercury;
    }

    .exitPinText {
      padding-left: 15px;
    }
  }
}



