@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/colors.scss';

.form {
  margin-top: 1em;
  .transactionTitle {
    font-size: 0.875em;
    margin-bottom: -16px;
    color: $dark-jungle-green;
    align-self: flex-start;
    @include sf-pro-display-medium;
  }

  .additionalInfo {
    align-self: flex-start;
    font-size: 0.875em;
    letter-spacing: 0.05em;
    color: $gray-main;

    .paragraph{
      margin-bottom: 1em;
      @include sf-pro-display-medium;

      &.dark {
        color: $dark-jungle-green;
      }
      &.cursive {
        font-style: italic;
        @include proxima-nova-regular;
      }
      &.bold {
        @include proxima-nova-semibold;
      }
    }
  }
}
