@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.signInCallToAction {
  margin: 20px 0 0;
  @include sf-pro-display-regular;
  font-size: 14px;
  padding: 20px 40px;
  background-color: transparent;
  color: $white;
  max-width: 75%;
  letter-spacing: 0.075em;

  button {
    font-size: 12px;
    letter-spacing: 0.05em;
    border-radius: 100px;
  }
}

@include md {
  .signInCallToAction {
    font-size: 12px;
    max-width: 100%;
  }
}

@include sm {
  .signInCallToAction {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 12px;
    max-width: 100%;
  }
}
