@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $content-background;

  .formContainer {
    display: flex;
    flex-direction: column;

    .closeButton {
      align-self: flex-end;
    }

    .title {
      @include proxima-nova-bold;
      color: $white;
      align-self: center;
      margin-top: 30px;
    }
  }
}
