@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';

.form {
  margin-top: 15px;

  .subtitle {
    font-size: 0.875em;
    @include proxima-nova-thin;
    text-align: center;
  }

  .questionItem {
    width: 100%;
    .question {
      font-size: 0.875em;
      margin-bottom: 10px;
      @include proxima-nova-semibold;

      .icon {
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  .error {
    margin-top: -25px;
    margin-bottom: 30px;
    width: 100%;
  }
}
