@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.container {
  border-radius: 12px;
  height: fit-content;
  padding: 1.25rem;
  width: 100%;
  position: relative;
  margin-top: 30px;

  &.hasBigMargin {
    margin-top: 5.625rem;
  }

  &.aqua {
    background-color: $aqua-haze;
  }
  &.hint {
    background-color: $hint;
  }

  @include lg {
    margin-top: 0;
    width: 335px;
    position: static;
    padding: 1.875rem;

    &.hasBigMargin {
      margin-top: 0;
    }
  }

  @include md {
    margin-top: 30px;
  }
}
