@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins';
@import '../../assets/styles/mediaQueriesMixings.scss';

.subtitle {
  font-size: 1.125em;
  margin-top: 12px;
  margin-bottom: 0;
  @include proxima-nova-semibold;
}

.text {
  font-size: 0.875em;
  margin-top: 10px;
  margin-bottom: 0;
  @include sf-pro-display-thin;

  &.textMedium {
    @include sf-pro-display-medium;
  }
}

.walletDetails {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  flex-flow: wrap;
  gap: 30px;

  .badgeContainer {
    margin-top: 0;
  }
}

.qrCode {
  background-color: $white;
  border-radius: 8px;
  padding: 13px 13px 7px 13px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  color: $baltic-sea;
  margin: 0 !important;

  .title {
    font-size: 1em;
    flex-shrink: 0;
    margin-right: 30px;
    margin-top: 0;
    @include sf-pro-display-medium;
  }

  .showOnLedgerAddressButton {
    margin-top: 12px;
    align-self: start;
    @include proxima-nova-semibold;
  }
}

.dataContainerValue {
  width: 100%;
  margin-top: 10px;
}

.value {
  position: relative;
  font-size: 1em;
  word-break: break-all;
  width: 100%;
  padding-right: 30px;
}

.icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  cursor: pointer;
}

.divider {
  margin: 30px 0;
}

.actionButton {
  @include sf-pro-display-thin;
  background-color: $light-indigo;
  border-color: $light-indigo;
  border-radius: 100px;
  margin-right: 0;
  margin-top: 10px;
  white-space: nowrap;
  max-width: 200px;
  height: 45px;
  display: flex;
  align-items: start;

  img, svg {
    margin-right: 10px;
  }

  & button {
    text-align: left;
    font-size: 1em;
    border-radius: 100px;
    width: 100%;
    height: 100%;
    background-color: $light-indigo;
    border-color: $light-indigo;

    &:hover {
      background-color: $iris;
      border-color: $iris;
    }
  }
}

@include lg {
  .walletDetails {
    flex-wrap: nowrap;
  }
}
