@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';


.addressContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 1.125rem;
  color: $dark-jungle-green;
  @include proxima-nova-bold;
  @include sm {
    .title, .name {
      font-size: 1rem;
    }
  }

  .title, .name {
    margin-bottom: 0;
    font-size: 1.125rem;
  }

  .title {
    margin-right: 5px;
  }

  .name {
    max-width: 400px;
    word-break: break-all;
  }
}

.publicAddressContainer, .publicAddressMobileContainer {
  color: $dark-jungle-green;
  font-size: 0.9334rem;
  p {
    margin-bottom: 0;
  }
}

.publicAddressContainer {
  display: grid;
  grid-template-columns: 50px 150px auto;

  .chainCode, .publicAddressItem {
    @include proxima-nova-thin;
  }
}

.publicAddressMobileContainer {
  width: 100%;
  overflow: hidden;
  max-height: 20px;
  transition: max-height 0.3s ease-in-out;

  .visiblePart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .icon {
      transition: 0.3s ease-in-out;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .pubAddress {
    margin-top: 15px;
    .title {
      @include sf-pro-display-thin;
    }
    .publicAddressItem {
      word-break: break-all;
      @include proxima-nova-bold;
    }
  }
  &.containerOpen {
    max-height: 100px;
  }
}
