@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.badgeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.editIcon {
  color: $dark-jungle-green;
  cursor: pointer;
  margin-left: 40px;
  justify-self: flex-end;
  outline: none;

  &.editing {
    color: $clear-blue;
  }
}

.checkIcon {
  color: $dark-jungle-green;
  cursor: pointer;
  font-size: 20px;
  margin-left: 40px;
  justify-self: flex-end;

  &.inactiveIcon {
    color: $manatee;
    cursor: default;
  }
}
