@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';
@import '../../assets/styles/fontMixins.scss';

.badgeLabel {
  font-size: 0.875em;
  margin-top: 1.375rem;
  margin-bottom: -20px;
  @include proxima-nova-semibold;
}

.badgeValue {
  font-size: 1em;
  line-height: 1;
  margin: 0 !important;
  color: $baltic-sea;
  word-break: break-all;
  font-style: italic;
  @include proxima-nova-regular;
}
