@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.button {
  position: relative;
  font-size: 1em;
  border-radius: 7px;
  padding: 15px;
  margin-top: 4px;
  margin-bottom: 0;
  background-color: $violet;
  border-color: $violet;
  border-style: none;
  max-width: 335px;
  width: 100%;
  outline: none;
  box-shadow: none;
  color: $white;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    min-width: 30px;
    padding-left: 5px;
    padding-right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background-color: $clear-blue;
    border-color: $clear-blue;
  }

  &.topMargin {
    margin-top: 30px;
  }

  &.bottomMargin {
    margin-bottom: 20px;
  }

  &.isGreen {
    background-color: $green-cyan;
    border-color: $green-cyan;

    &:hover {
      background-color: $green-teal;
      border-color: $green-teal;
    }
  }

  &.disabled {
    cursor: not-allowed;
    background-color: $violet;
  }

  &.loading {
    cursor: progress;
  }
}

@include sm {
  .button {
    max-width: 100%;
  }
}
