@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.addressContainer {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: flex-start;
  font-size: 1.125rem;
  color: $baltic-sea;
  @include proxima-nova-bold;
  @include sm {
    .title, .name {
      font-size: 1rem;
    }
  }

  .title, .name {
    font-size: 1.125rem;
  }

  .title {
    margin-right: 5px;
    margin-bottom: 15px;
  }

  .name {
    margin-bottom: 0;
    max-width: 400px;
    word-break: break-all;
  }
}
