@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

@import './commonStyles.module.scss';

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 60px 20px;
  position: relative;
  max-width: 1200px;

  .textContainer {
    flex: 2;
  }

  .videoContainer {
    flex: 1;
  }

  .title {
    font-size: 2rem;
    @include proxima-nova-thin;
  }

  .text {
    margin: 20px 0;
    @include proxima-nova-bold;

    a {
      @include proxima-nova-regular;
    }
  }

  .fieldsContainer {
    display: flex;
    margin: 10px 0;
    gap: 20px;

    .field {
      flex: 1;
      display: flex;
      flex-direction: column;

      .label {
        @include proxima-nova-bold;
        margin-bottom: 10px;
      }

      .description {
        @include proxima-nova-regular;
        font-size: 0.875rem;
        color: $dove-gray;
        margin: 10px 0;
      }

      .input {
        position: relative;
        margin-top: auto;
        margin-bottom: 20px;
        padding: 15px 20px;
        width: 100%;
        background: $gallery;
        border-radius: 5px;
        @include proxima-nova-regular-it;

        svg {
          top: 0;
          font-size: 1.25rem;
        }

        .icon {
          cursor: pointer;
          position: absolute;
          right: 20px;
          top: 17px;
        }
      }
    }
  }

  .activeBadge {
    margin-left: 10px;
    background: $green-main;
    color: $white;
    padding: 5px 10px;
    font-size: 0.875rem;
    border-radius: 5px;
    vertical-align: super;
  }
}

@include sm {
  .container {
    padding: 30px 20px;
    flex-direction: column;

    .textContainer {
      order: 2;
    }

    .videoContainer {
      order: 1;
    }

    .title {
      font-size: 20px;
      line-height: 20px;
    }

    .activeBadge {
      padding: 5px;
      font-size: 0.75rem;
    }

    .fieldsContainer {
      flex-direction: column;
      gap: 10px;
    }
  }
}
