@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

@import './commonStyles.module.scss';

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 60px 20px;
  position: relative;
  max-width: 1200px;
  justify-content: center;

  .textContainer {
    flex: 2;
    max-width: 780px;
  }

  .videoContainer {
    flex: 1;
  }

  .title {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include proxima-nova-semibold;
  }

  .text {
    margin: 15px 0;
    @include proxima-nova-regular;
    font-size: 0.75rem;

    a {
      @include proxima-nova-regular;
      color: $bright-turquoise;
    }
  }

  .info {
    @include proxima-nova-regular-it;
    font-size: 0.75em;
  }

  .fieldsContainer {
    display: flex;
    margin: 0;
    gap: 20px;

    .field {
      flex: 1;
      display: flex;
      flex-direction: column;

      .label {
        @include proxima-nova-bold;
        font-size: 13px;
      }

      .description {
        @include proxima-nova-regular;
        font-size: 0.75rem;
        color: $dove-gray;
        margin: 10px 0;
      }

      .input {
        position: relative;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 15px 20px;
        width: 100%;
        max-width: 375px;
        background: $gallery;
        border-radius: 5px;
        @include proxima-nova-semibold;

        svg {
          top: 0;
          font-size: 1.25rem;
        }

        .icon {
          cursor: pointer;
          position: absolute;
          right: 20px;
          top: 17px;
        }

        &.disabled {
          cursor: not-allowed;
          opacity: 0.4;

          .icon {
            cursor: not-allowed;
          }
        }
      }
    }
  }

  .activeBadge {
    margin-left: 50px;
    background: $green-main;
    color: $white;
    padding: 8px 12px;
    font-size: 0.625rem;
    border-radius: 4px;
    vertical-align: super;
  }
}

@include sm {
  .container {
    padding: 30px 20px;
    flex-direction: column;

    .textContainer {
      order: 2;
    }

    .videoContainer {
      order: 1;
    }

    .title {
      font-size: 20px;
      line-height: 20px;
    }

    .activeBadge {
      padding: 5px;
      font-size: 0.75rem;
    }

    .fieldsContainer {
      flex-direction: column;
      gap: 10px;
    }
  }
}
