@import '../../../../assets/styles/colors.scss';

.button {
  background-color: $light-indigo;
  border-radius: 7px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.isSelected {
    background-color: $irish-green !important;
    border: $irish-green;
    outline: none;

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(116, 220, 118, 0.5);
    }

    &:active:focus {
      box-shadow: 0 0 0 0.2rem rgb(116, 220, calc(118/2));
    }
  }
}
