@import '../../../../assets/styles/colors.scss';

.container {
  background-color: $desert-storm;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  &.hasWhiteBackground {
    background-color: $white;
  }

  .centralContainer {
    margin-left: 12px;
    margin-right: auto;

    .priceContainer {
      font-size: 0.866em;
      margin: 7px 0;
    }

    .badgeContainer {
      width: 100%;
      font-size: 0.667em;
      display: flex;
      align-items: center;
    }
  }
}
