@import "../../assets/styles/colors.scss";
@import "../../assets/styles/mediaQueriesMixings.scss";
@import "../../assets/styles/fontMixins.scss";

.iconButton {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.icon {
  width: 22px;
  height: 22px;
  margin-left: 100px;
}

.icon:hover {
  cursor: pointer;
}

.signSection {
  color: $baltic-sea;
  max-width: 700px;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;

  .chainContainer {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;

    @include sm {
      flex-direction: column;
    }
  }
}

.signatureItem {
  background-color: #ffffff;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 13px 5px 10px 5px;
}

.signatureItemText {
  margin: 0;
}

.signatureItemTextValue {
  font-weight: bold;
}

.mainTitleSection {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 30px;
}

.titleSection {
  font-weight: bold;
  font-size: 18px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 5px;
}

.subTitleSection {
  font-size: 14px;
  @include proxima-nova-semibold;
}

.fioAddress {
  font-size: 16px;
  font-weight: bold;
  background-color: #ffffff;
  color: #202020;
  border-radius: 7px;
  padding: 15px 20px;
  margin-bottom: 30px;
  margin-top: 20px;

  div {
    width: 100%;
  }
}

.fioAddressLabel {
  @include proxima-nova-bold;
}

.listTitle {
  font-weight: bold;
  font-size: 16px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.dropdown {
  width: 100%;

  .dropdownArrow {
    font-size: 20px;
    float: right;
  }
}

.control {
  width: 100%;
  padding: 0 10px;
  background-color: transparent;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1001; // show over menu

  &:hover {
    box-shadow: none
  }
}

.menu {
  border-radius: 0 0 7px 7px;
  border: none;
  border-top: 1px solid $iron;
  margin-top: 10px;
  max-height: 250px;
  font-size: 15px;
  animation-name: expand;
  animation-duration: 0.4s;
}
