@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.fields {
  .container {
    width: 100%;
    margin-top: 30px;

    .itemContainer{
      display: flex;
      flex-direction: row;
      align-items: center;

      .fieldContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .chainCodeInput {
          width: 100%;
        }

        .tokenCodeInput, .chainCodeInput {
          margin-right: 0;
        }

        .tokenCodeInput {
          width: 100%;
        }

        .pubAddressInput {
          width: 100%;
        }
      }

      .closeIcon {
        color: $dark-gray;
        cursor: pointer;
        transition: all 0.2s ease-in;
        margin-top: -30px;
        margin-left: 20px;
        font-size: 1.25rem;

        &:hover {
          transform: rotate(90deg);
        }
      }
    }

    .errorContainer {
      margin-top: -30px;
      margin-bottom: -15px;
      color: $warn-red;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }
}

@include lg {
  .fields {
    .container {
      margin-top: 0;
    
      .itemContainer {
        .fieldContainer {
          flex-direction: row;

          .chainCodeInput {
            max-width: 255px;
          }

          .tokenCodeInput {
            max-width: 165px;
          }

          .chainCodeInput, .tokenCodeInput {
            margin-right: 15px;
          } 
        }
      }
    }
  }
}
