@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';
@import '../../../components/LinkTokenList/styles/CommonLayout.module.scss';

.infoSubtitle {
  color: $bright-turquoise;
  margin: 20px 0;
  align-self: flex-start;
}

.asterisk {
  line-height: 1.25em;
}
