@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/fontMixins.scss';

.link {
  display: flex;

  .button {
    min-width: 70%;
    background-color: transparent;
    border-color: $white;
    min-height: 40px;
    border-radius: 100px;
    font-size: 0.75rem;
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 1.25em;
    @include sf-pro-display-medium;

    &:hover {
      background-color: $white;
      color: $light-indigo;
      border-color: $white;
    }
  }
}
