@import '../../assets/styles/colors';
@import '../../assets/styles/fontMixins';
@import '../../assets/styles/mediaQueriesMixings';

.container {
  display: flex;
  flex-direction: column;

  .label {
    font-size: 0.875em;
    margin-top: 30px;
    margin-bottom: -10px;
    @include proxima-nova-semibold;
  }
}

.detailsName {
  word-break: break-all;
  color: $gray-main;
  padding-right: 15px;
  @include proxima-nova-semibold;
}

.detailsValue {
  color: $gray-main;
}
