@import '../../assets/styles/colors';
@import '../../assets/styles/fontMixins';
@import '../../assets/styles/mediaQueriesMixings';

.container {
  display: flex;
  flex-direction: column;

  .label {
    font-size: 0.875em;
    margin-top: 30px;
    margin-bottom: -10px;
    @include proxima-nova-semibold;
  }
}
