@import '../../../../assets/styles/fontMixins.scss';
@import '../../../../assets/styles/colors.scss';

.form {
  margin-top: 1em;
  .transactionTitle {
    font-size: 0.875em;
    margin-bottom: -16px;
    color: $baltic-sea;
    align-self: flex-start;
    @include sf-pro-display-medium;
  }
}
