@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.container {
  display: flex;
  padding: 20px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: $green-tea;
  border-radius: 14px;

  .textContainer {
    font-size: 1.375rem;
    line-height: 1;
    color: $baltic-sea;
    @include proxima-nova-regular;

    .textLabel {
      padding-right: 5px;
      @include proxima-nova-bold;
    }
  }

  @include sm {
    align-items: start;

    .textContainer {
      font-size: 0.9375rem;
      line-height: 1.25rem;
    }
  }
}
