@import "../../assets/styles/colors";
@import "../../assets/styles/mediaQueriesMixings.scss";

.header {
  display: flex;
  justify-content: space-between;
  background: $main-background;
  box-shadow: 0 0 20px 8px rgba(0,0,0,0.2);
  padding: 5px 25px;
  min-height: 80px;

  &.isOpen {
    position: sticky;
    top: 0;
    z-index: 1002;
  }

  .logo {
    width: 76px;
    height: 100%;
    background-image: url("../../assets/images/fiologo.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
  }

  .regularNavContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    justify-content: space-between;
    margin-left: 2rem;

    .actionContainer {
      display: flex;

      &.isOpen {
        flex-direction: column;

        a {
          padding: 0;
          margin-top: 25px;
          .button {
            width: 100%;
            margin-right: 0 !important;
            height: 40px;
          }
        }

        a:nth-child(1) {
          margin-top: 0;
        }
      }
    }
  }

  .link, .navItem {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .link {
    .arrow {
      position: relative;
      transition: 0.2s ease-in-out;
      transform: translateX(0);
    }

    &:hover .arrow {
      transform: translateX(-4px);
    }
  }

  .navItem {
    .icon {
      width: 20px;
      height: 20px;
    }

    .notifWrapper {
      position: relative;
      align-items: center;
      position: relative;
      display: flex;

      .notifActiveWrapper {
        position: absolute;
        top: -6px;
      }

      .notifActive {
        width: 9px;
        height: 9px;
      }

      .notifActiveWrapperRight {
        width: 100%;
        right: -15px;
      }
    }

    .settings {
      background-color: white;
      padding: 3px;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;

      .settingsIcon {
        width: 14px;
        height: 14px;
        color: black !important;
        transition: transform 0.4s ease-in-out;
      }
    }

    &:hover .settings .settingsIcon {
      transform: rotate(90deg);
    }

    &:hover .bellshake {
      animation: bellshake 0.6s cubic-bezier(.36,.07,.19,.97) both;
      backface-visibility: hidden;
      transform-origin: center;
    }

    &:hover .cartanim {
      animation: cartscale 0.6s cubic-bezier(.36,.07,.19,.97) both;
      backface-visibility: hidden;
      transform-origin: center;
    }
  }

  .button, .navItem {
    font-size: 13px;
  }
}

.vertical {
  width: 1px;
  height: 20px;
  background-color: #4D4D4D;
}

.horizontal {
  width: 100%;
  background-color: $mine-shaft;
  margin-top: 35px;
  margin-bottom: 0;
}

.loggedActionButtons {
  display: flex;
  flex-direction: row;

  &.isOpen {
    flex-direction: column;
     a {
      padding: 0;
      margin-top: 35px;
      .button {
        width: 100%;
        margin-right: 0 !important;
        height: 40px;
      }
    }
  }
}

.menuIcon {
  width: 24px;
  height: 20px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  & span {
    display: block;
    position: absolute;
    height: 1px;
    width: 50%;
    background: $white;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  & span:nth-child(even) {
    left: 50%;
    border-radius: 0 0.5px 0.5px 0;
  }

  & span:nth-child(odd) {
    left:0px;
    border-radius: 0.5px 0 0 0.5px;
  }

  & span:nth-child(1), & span:nth-child(2) {
    top: 0px;
  }

  & span:nth-child(3), & span:nth-child(4) {
    top: 9px;
  }

  & span:nth-child(5), & span:nth-child(6) {
    top: 19px;
  }

  &.isOpen span:nth-child(1),&.isOpen span:nth-child(6) {
    transform: rotate(45deg);
  }

  &.isOpen span:nth-child(2),&.isOpen span:nth-child(5) {
    transform: rotate(-45deg);
  }

  &.isOpen span:nth-child(1) {
    left: 2px;
    top: 4px;
  }

  &.isOpen span:nth-child(2) {
    left: calc(50% - 2px);
    top: 4px;
  }

  &.isOpen span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  &.isOpen span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  &.isOpen span:nth-child(5) {
    left: 2px;
    top: 12px;
  }

  &.isOpen span:nth-child(6) {
    left: calc(50% - 2px);
    top: 12px;
  }
}

@keyframes bellshake {
  0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
}

@keyframes cartscale {
  0% { transform: scale(1.0); }
  100% { transform: scale(1.1);; }
}

@include lg {
  .header {
    padding: 5px 3.75rem;

    .regularNavContainer {
      margin-left: 5rem;
    }
  }
}

@include sm {
  .regularNavContainer {
    .link {
      font-size: 13px;
      a {
        display: flex;
        align-items: center;
      }
    }
  }
}
