@import '../../../../../assets/styles/colors.scss';
@import '../../../../../assets/styles/fontMixins.scss';

.container {
  margin-bottom: 20px;
  width: 100%;
  max-width: 335px;
  
  .badgeContainer {
    display: flex;
    align-items: center;
  }

  .title {
    margin-bottom: -20px;
    font-size: 0.875em;
    @include proxima-nova-semibold;
  }

  .circle {
    color: $baltic-sea;
    font-size: 0.875em;
    margin-left: 12px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .backupCode {
    color: $baltic-sea;
    @include proxima-nova-semibold;
  }

  .showButton {
    color: $baltic-sea;
    margin-left: auto;
    cursor: pointer;
    font-size: 20px;
  }
}
