@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  div {
    background-color: $gray-main;
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
      font-size: 20px;
      color: $white;
    }

    &:hover {
      background-color: $dark;
    }
  }
}
