@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';

.form {
  margin-top: 20px;

  .submitButton {
    align-self: start;
    margin-top: -20px !important;
  }

  .checkboxContainer {
    color: $baltic-sea;
    width: 90%;

    .checkboxContent {
      margin-left: 30px;

      .checkboxTitle {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1em;
        @include proxima-nova-semibold;
      }

      .checkboxText {
        margin-top: 5px;
        font-size: 0.75em;
        margin-bottom: 0;
        @include proxima-nova-thin;
      }
    }

    a {
      color: $light-indigo;

      &:hover {
        color: $iris;
      }
    }
  }
}
