@import '../../../assets/styles/fontMixins';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;

  .subtitle {
    font-size: 0.875rem;
    @include proxima-nova-thin;
  }
}

@include sm {
  .title {
    margin-bottom: 20px;
  }
}
