@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.modalContainer {
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  .title {
    font-size: 1.75rem;
    @include proxima-nova-semibold;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .subtitleContainer {
    padding: 10px 5px;
    margin-right: 15px;
    margin-left: 0;

    .subtitle {
      font-size: 0.875em;
      margin-bottom: 5px;
      @include proxima-nova-semibold;
    }
  }

  .itemsList {
    max-height: 450px;
    overflow-y: auto;
    padding: 0;
    margin: 0;

    .itemContainer {
      border-radius: 12px;
      background-color: $white;
      padding: 15px 5px;
      margin-bottom: 15px;
      margin-right: 15px;
      margin-left: 0;

      .itemData {
        font-size: 0.875em;
        margin-bottom: 0;
      }
    }
  }

  .closeButton {
    width: 240px;
    height: 54px;
    border-radius: 100px;
    @include proxima-nova-bold;
    margin-top: 20px;
    background-color: $light-indigo;
    color: white;
    border-color: $light-indigo;
  }
}

.actionBadgeContainer {
  margin: 0 0 30px;
  width: auto;

  & .totalBalanceSuffix {
    font-family: 'Proxima Nova Thin';
  }

  & .usdcTotalBalanceSuffix {
    font-family: 'Proxima Nova Thin';
    font-size: 15px;
  }

  .link {
    background-color: $light-indigo;
    border-radius: 100px;
    color: $white;
    font-size: 13px;
    line-height: 13px;
    padding: 10px 0;
    width: 122px;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    &:hover {
      background-color: $iris;
    }

    &.secondary {
      background-color: $dark-slate-blue;

      &:hover {
        background-color: $honey-flower;
      }
    }

    &.detailsButton {
      width: 50px;
      height: 25px;

      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }
  }

  .totalBadge {
    background-color: $baltic-sea;
    border-radius: 12px;
    padding: 25px;
    color: $white;
    width: 100%;

    .actionButtons {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
    }

    .title {
      font-size: 1.125em;
      margin-top: 0;
      margin-bottom: 0;
      @include proxima-nova-semibold;
    }

    .totalFio {
      font-size: 1.25em;
      margin-top: 15px;
      margin-bottom: 0;
    }

    .balanceContainer {
      padding: 10px;
      background-color: $tuna;
      border-radius: 7px;
      margin-top: 15px;

      .balanceTitle,
      .balanceValues {
        @include sf-pro-display-medium;
        font-size: 0.75em;
        padding: 0;
      }

      .balanceTitle {
        margin-top: 0;
        margin-bottom: 0;
      }
      .balanceValues {
        font-size: 0.75em;
        margin-top: 0;
        margin-bottom: 0;
        flex: 1;
        width: auto;
      }
    }
  }
}

@include md {
  .actionBadgeContainer {
    width: 100%;
    margin: 0 0 30px;
  }
}

@include lg {
  .actionBadgeContainer {
    margin-top: 60px;
    max-width: 365px;
    width: 100%;
  }
}
