@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.modalContainer {
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  .title {
    font-size: 1.75rem;
    @include proxima-nova-semibold;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .subtitleContainer {
    padding: 10px 5px;
    margin-right: 15px;
    margin-left: 0;

    .subtitle {
      font-size: 0.875em;
      margin-bottom: 5px;
      @include proxima-nova-semibold;
    }
  }

  .itemsList {
    max-height: 450px;
    overflow-y: auto;
    padding: 0;
    margin: 0;

    .itemContainer {
      border-radius: 12px;
      background-color: $white;
      padding: 15px 5px;
      margin-bottom: 15px;
      margin-right: 15px;
      margin-left: 0;

      .itemData {
        font-size: 0.875em;
        margin-bottom: 0;
      }
    }
  }

  .closeButton {
    width: 240px;
    height: 54px;
    border-radius: 100px;
    @include proxima-nova-bold;
    margin-top: 20px;
    background-color: $light-indigo;
    color: white;
    border-color: $light-indigo;
  }
}

.actionBadgeContainer {
  width: 100%;
  padding: 9px;
  border-radius: 14px;
  border: 1px solid $leadbelcher;

  & .totalBalanceSuffix {
    font-family: 'Proxima Nova Thin';
  }

  & .usdcTotalBalanceSuffix {
    font-family: 'Proxima Nova Thin';
    font-size: 15px;
  }

  .link {
    flex: 1;
    background-color: $light-indigo;
    border-radius: 100px;
    color: $white;
    font-size: 13px;
    line-height: 13px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    &:hover {
      background-color: $iris;
    }

    &.secondary {
      background-color: $dark-slate-blue;

      &:hover {
        background-color: $honey-flower;
      }
    }
  }

  .detailsButton {
    width: 65px;
    height: 25px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 13px;

    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  .totalBadge {
    display: flex;
    flex-direction: column;
    background-color: $dynamic-black;
    border-radius: 8px;
    padding: 20px;
    color: $white;
    width: 100%;
    height: 100%;

    .actionButtons {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      gap: 15px;
    }

    .title {
      font-size: 1.125em;
      margin-top: 0;
      margin-bottom: 0;
      @include proxima-nova-semibold;
    }

    .totalFio {
      font-size: 1.25em;
      margin-top: 15px;
      margin-bottom: 0;
    }

    .balanceContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      background-color: $tuna;
      border-radius: 7px;
      margin-top: 15px;
      gap: 10px;

      .balanceContentContainer {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        gap: 10px;
        .balanceTitle,
        .balanceValues {
            @include sf-pro-display-medium;
            font-size: 0.75em;
            padding: 0;
          }

        .balanceTitle {
          margin-top: 0;
          margin-bottom: 0;
          width: 70px;
        }

        .balanceValues {
          font-size: 0.75em;
          margin-top: 0;
          margin-bottom: 0;
          width: auto;
          & > div {
            flex-flow: row wrap;
          }
        }
      }
    }
  }
}
