@import '../../../assets/styles/colors';
@import '../../../assets/styles/fontMixins';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .infoBadge {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  h5 {
    &:nth-child(2) {
      margin-top: 30px;
    }
  }
}

.subtitle {
  font-size: 1.125em;
  margin-bottom: 0;
}

.link {
  display: flex;
}

.spinner {
  width: 100% !important;
  font-size: 1.25em;
}

.infoBadgeContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.addressesHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.actionButton {
  background-color: $light-indigo;
  border-radius: 50px;
  text-align: left;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  gap: 10px;
  @include sf-pro-display-thin;

  span {
    font-size: 14px;
    font-weight: bold;
  }

  button {
    background: none;
    border: none;
    width: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}

.totalBalanceContainer {
  margin: 0 20px 30px;
}

@include md {
  .container {
    padding: 30px 20px;

    .totalBalanceContainer {
      > div {
        a {
          button {
            min-width: auto !important;
          }
        }
      }
    }
  }
}

@include lg {
  .container {
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    margin: 0 20px;

    .infoBadge {
      margin-top: 60px;
    }
  }
  .totalBalanceContainer {
    width: 100%;
    max-width: 365px;
  }
}

@include xlg {
  .container {
    margin: 0 80px;
  }
}
