@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fontMixins.scss';
@import '../../assets/styles/mediaQueriesMixings.scss';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .title {
    padding: 0;
    margin: 0 0 0 1.25rem;
    @include sf-pro-display-medium;
    color: $black;
  }
}

.textContainer {
  margin-top: 2.25rem;

  .textTitle {
    @include proxima-nova-semibold;
  }

  .text {
    @include proxima-nova-thin;
    margin-top: 1rem;
  }
}

.button {
  width: 100%;
  margin-top: 1.25rem;
  background-color: $light-indigo;
  border-color: $light-indigo;
  border-radius: 100px;
  text-align: left;
  flex-direction: row;
  display: flex;
  align-items: center;
  min-height: 36px;
  @include sf-pro-display-thin;

  &:hover {
    background-color: $iris;
    border-color: $iris;
  }

  .cartIcon {
    font-size: 1.25em;
    line-height: 0.9375em;
  }

  p {
    font-size: 0.8125em;
    line-height: 0.9375em;
    margin-bottom: 0;
    margin-left: 10px;
  }
}

.itemContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;

  .itemInfo {
    .itemName, .itemPrice, .itemDescriptor {
      font-size: 0.8125em;
      line-height: 1.0625em;
      margin-bottom: 10px;
    }
    .itemName {
      word-break: break-all;
      margin-right: 15px;
      @include proxima-nova-medium;
    }
    .itemPrice {
      display: flex;
      flex-direction: row;
      gap: 5px;
      margin: 10px 0 5px 0;
    }
    .itemDescriptor {
      margin-right: 15px;
    }
  }

  .deleteIcon {
    cursor: pointer;
  }
}

.actionTextContainer {
  color: $black;
  font-size: 0.8125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;

  .actionText {
    margin-left: 10px;
  }
}

@include sm {
  .textContainer {
    margin-top: 1.25rem;

    .textTitle {
      @include proxima-nova-bold;
      font-size: 0.875em;
    }

    .text {
      font-size: 0.8125em;
    }
  }
}
