@import '../../../../assets/styles/colors.scss';

.container {
  display: flex;
  flex-direction: row;

  .iconContainer {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    background-color: $light-indigo;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }

  .icon {
    & > span {
      width: 20px !important;
      height: 20px !important;
      color: $white;
    }
  }
}
