@import '../../../assets/styles/fontMixins.scss';
@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/mediaQueriesMixings.scss';

.form {
  margin-top: 1em;
  .transactionTitle {
    font-size: 0.875em;
    margin-bottom: -16px;
    color: $baltic-sea;
    align-self: flex-start;
    @include sf-pro-display-medium;
  }
  .chainAndTokenCodesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@include lg {
  .form {
    .chainAndTokenCodesContainer {
      flex-direction: row;
    }
  }
}
