@import '../../../../assets/styles/colors.scss';

.container {
  border-radius: 14px;
  border: 1px solid $leadbelcher;
  padding: 9px;
  background-color: $white;

  &.isShrinked {
    flex-shrink: 0;
  }

  &.hasFitContentWidth {
    width: fit-content;
  }

  &.hasFullWidth {
    width: 100%;
  }

  &.marginTop {
    margin-top: 40px;
  }
}
