@import '../../../../../../../assets/styles/colors.scss';
@import '../../../../../../../assets/styles/fontMixins.scss';
@import '../../../../../../../assets/styles/mediaQueriesMixings.scss';

.container {
  padding: 20px !important;
  background-color: $alabaster !important;
  align-items: center;
  margin-top: 15px !important;

  &:hover {
    cursor: pointer;

    .arrow {
      transform: translateX(4px);
    }
  }

  & > div {
    margin: 0;
  }

  .cotnentContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 15px;

    .image {
      width: 34px;
      height: 34px;
  
      img {
        width: 100%;
      }
    }
  
    .tokenCodeName {
      margin: 0;
      font-size: 1em;
      color: $dark-jungle-green;
      @include proxima-nova-bold;
  
      span {
        @include proxima-nova-thin;
      }
    }
  
    .chainCodeBagde {  
      .chainCode {
        background-color: $dodger-blue !important;
        font-size: 0.75em;
        border-radius: 8px;
        padding: 10px;
        text-transform: uppercase;
        @include proxima-nova-bold;
      }
    }
  }

  .arrow {
    color: $dark-jungle-green;
    margin-left: auto;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform: translateX(0);
  }
}

@include lg {
  .container {
    .cotnentContainer {
      gap: 30px;
      .tokenCodeName {
        font-size: 1.25em;
      }
    }
  }
}
